[2017-08-19 19:25] Swiftnesses opened #1 "Battery level not showing"
Howdy!

I noticed the battery level on my Ring has never shown, can this be fixed?

Cheers,

Mark

[2017-10-07 21:04] denniedegroot commented on #1
Sorry for the late response, I totally missed this issue. The battery level should be working. Are you using the Ring (non pro) version?

[2017-10-08 04:46] Swiftnesses commented on #1
Yup, non pro... Not working here :(

[2017-10-08 12:37] denniedegroot commented on #1
Did you remove and re-add the device after the 1.1.0 update? If not could you do this.

[2017-10-14 14:58] Swiftnesses commented on #1
Tried to re-add it, no go, the motion and button work, battery doesn't :(

[2017-10-24 19:11] denniedegroot commented on #1
As said on Slack I need a dump of the logging before I can fix this issue.

[2017-10-29 20:33] sossienl opened #2 "Multiple doorbells"
Is it possible to support multiple doorbells?

[2017-11-13 21:02] denniedegroot commented on #2
What do you mean with multiple doorbells? Did you add 2 doorbells and it didn't work?

[2017-11-15 11:42] mruiter opened #3 "Image url catching and maybee pushing 2 homey image var"
The API image info has now been "hacked" into the unoffical API support
Would it be possible to expand the app to support these new available api commands

Like image/movie url to variable or even push the image to the homey image var for other apps ?

[2017-11-22 17:00] denniedegroot commented on #3
Do you have a link where you found this integration? The only thing I can do is grabbing the video url, but not an image.

[2018-03-08 21:24] denniedegroot commented on #2
I'm closing this issue as I did not get a response.

[2018-03-08 21:24] #2 closed

[2018-06-02 08:26] nicofr1908 opened #4 "kan niet autoriseren in homey"
goede morgen,

ik krijg steeds de melding error:invalid_authentication 401 you need to sign in or up before continuing

mijn inlog gegevens kloppen

heeft u een idee?

mvg

Nico kloos

[2018-06-07 12:54] nicofr1908 commented on #4
iemand een idee??

[2018-06-18 18:38] denniedegroot commented on #4
Heb je de laatste versie geprobeerd? Dit zou namelijk opgelost moeten zijn in 2.0.1.

[2018-07-25 13:06] fresam commented on #4
Hi,

I also have the same problem as AntonK1 above when I try to install my new Video Ringbell 2 and Spotlight Cam Battery. First same error message:

Error: invalid_authentication 401 {"error":"unauthorized_client","error_description":"The client is not authorized to request a token using this method."}

When trying again no message/response at all. Tried to reinstall the app a couple of times bu

[2018-07-25 17:51] denniedegroot commented on #4
Ring changed something in their API again.....ugh

[2018-07-25 18:42] AntonK1 commented on #4
Hoi Dennie,

Bedankt voor je reactie. Waardeloos dat Ring de API blijft veranderen. Bugs herstellen of zaken toevoegen kan ik me wat bij voorstellen.

Ga jij de gewijzigde Api (in Homey) nu aanpassen of? Hoor graag van je.

Gr. Anton Klunder

Verstuurd vanaf mijn iPhone

[2018-07-25 18:47] denniedegroot commented on #4
Update is al naar de app store gestuurd. Nu wachten op goedkeuring voordat ik hem kan uitrollen.

[2018-07-26 09:31] fresam commented on #4
Thanks for the quick response and solution. I will wait for the new version on appstore.

[2018-07-26 11:38] AntonK1 commented on #4
Thanks! The 2.0.2 version works fine for me also within flows etc.

Gr. Anton Klunder

[2018-08-04 07:44] Aklijzing opened #5 "Kan niet authorisere"
Hi!
Na de installatie en nadat ik mijn inloggegevens heb ingevuld krijg ik de melding:

Before Homey can add Ring products we need authentication.

Enig idee hoe verder?

[2018-08-04 08:06] mruiter commented on #5
Do you have pop up blocker turned off in Chrome ?

Verstuurd vanaf mijn iPhone

[2018-08-04 16:28] Aklijzing commented on #5
tried this put no pop up started....

[2018-08-10 07:55] denniedegroot commented on #4
Fixed in 2.0.2

[2018-08-10 07:55] #4 closed

[2018-08-10 07:57] denniedegroot commented on #5
Are you authenticated in the Ring settings?

[2018-08-10 15:32] Aklijzing commented on #5
Despite I received this message I am able to add the Ring now!

[2018-08-11 11:32] denniedegroot commented on #5
Solved

[2018-08-11 11:32] #5 closed

[2018-09-13 08:06] Tim-Brass opened #6 "Motion alert does not report to Homey"
I receive a motion alert in the Ring app but the motion alert does not trigger my flow in Homey.

Homey Firmware Versie: 1.5.13-rc.9
Ring v2.0.3
using Ring PRO

Motion alerts do get reported in insights....

I've got "motion alert on" as a trigger on a flow. But the flow doesn't run when motion alert is on.

[2018-09-14 07:08] #6 closed

[2018-11-09 10:49] janv58 opened #7 "Luidspreker van ring"
Hallo, ben hier nieuw en weet niet of ik het goed doe ?
Mijn vraag is of er via homey een geluid naar de luidspreker van de ringdeurbelknop gezonden kan worden bij bv een bewegingsdetectie of bij het aanbellen?
Dank, Jan

[2018-11-21 20:47] denniedegroot commented on #7
Hallo Jan, dit is helaas niet mogelijk door de beperkte api van Ring.

[2018-11-21 20:47] #7 closed

[2018-11-21 20:48] denniedegroot commented on #3
No response from issuer

[2018-11-21 20:48] #3 closed

[2018-11-21 20:48] denniedegroot commented on #1
No response from issuer

[2018-11-21 20:48] #1 closed

[2018-11-21 20:52] janv58 commented on #7
Hallo Dennie,

Bedankt voor je reactie. Jammer !

Groet Jan

Op woensdag 21 november 2018 heeft denniedegroot <notifications@github.com>
het volgende geschreven:

--
Met vriendelijke groet,

Jan van Vlijmen

P.s. nog nooit in Tsjechië geweest ? Kom nou ! vakantiehuis in Tsjechië
www.arnultovice.nl

[2018-11-30 17:25] kapusticka opened #8 "Ring door sensor not supported."
Hi. Can you add supper for Ring door sensor?

[2018-11-30 17:32] mruiter commented on #8
The ring security system isn’t open protocol and it’s even more secure then ring doorbell .
It’s in rings interested not to be used by others since they are a certified on a level as a security system .

The ring doorbell isn’t open protocol either but was hacked / reversed engineered.

But maybee Dennie has different info

Verstuurd vanaf mijn iPhone

[2018-11-30 17:41] denniedegroot commented on #8
What Marco says is true. I dont think it will be possible soon or ever.

[2018-11-30 17:41] #8 closed

[2018-12-04 22:05] gruijter opened #9 "Feature request: Please add taking snapshot"
It is possible to take a snapshot from ring. Could you make an action card that does just this? That would really be a killer application since I refuse to pay 3 euro's per month for cloud recording :)

See this link for snapshot implementation for ring in python:
https://github.com/tchellomello/python-ring-doorbell/pull/108

[2018-12-05 10:56] jeesnl opened #10 "Add support for Floodlight Cam"
I added my Floodlight Cam via the Stick up Cam, and that works for the motion part.
I would like to have the possibility to turn on/off the light an alarm via Homey in case of an alarm.

Kind regards,
Jan Slag

[2018-12-09 15:11] denniedegroot commented on #9
And where is this snapshot then stored? This will be an 'action flow card' so how would the action card look to you on Homey?

[2018-12-09 15:12] denniedegroot commented on #10
Hi Jan, as I don't have a Floodlight I cannot test this. Are you willing to test/debug the support for this?

[2018-12-09 15:20] gruijter commented on #9
The snapshot is taken with an action card. The resulting image will then start a trigger card with the image as token. Similar to what image grabber is doing: https://apps.athom.com/app/image.grabber

[2018-12-09 15:21] denniedegroot commented on #9
Ah ok, that should be possible. Are you willing to test/debug the support for this as I don't have any Ring devices anymore?

[2018-12-11 10:10] mruiter commented on #9
Also willing to test, can even give full access to the homey if wanted

[2018-12-12 07:12] mruiter commented on #9
The new Ring App gives a snapshot on the app screen and refreshes once in a while or when movement (i think) These pictures should be available somewhere .
That in combination with the movement alert could become something like.
1. Movement -> then ->  Put latest snapshot from ring api in tag
2. when tag image blabla changes -> telegram image blabla tag

[2018-12-12 07:40] gruijter commented on #9
Exactly, this is how it works also on android. The link I provided to the python implentation contains the endpoint / information how to retrieve snapshots

[2018-12-27 09:51] daneedk opened #11 "App does not install on Homey V2 firmware"
Hi Dennie,

The app does not install on Homey V2 firmware because of the `"compatibility": "1.x >=1.5.0",` in app.json. I've changed it to `"compatibility": ">=1.5.0",` installed the app from the CLI and tested it with my Ring Pro and Ring Chime and all worked as expected. No errors in the CLI output, regular __refreshDevice_ and __https dings/active_. __syncDevices_ shows the correct Ring Pro and

[2018-12-28 16:40] denniedegroot commented on #11
Hi Danee,

Thanks for letting me know. This issue will be resolved in the next version 2.0.4 which is waiting for approval.

[2018-12-28 16:40] #11 closed

[2018-12-28 23:06] Fire69 opened #12 "Support for 2.0 (SDK2)"
Hi,

I came here to ask if the app would be updated to work on 2.0, but I saw in one of the other open issues you don't have a Ring anymore.
But I'm still going to try my luck :-P

I already tried installing it through CLI after changing compatibility in the json-file, it installs but you can't add a new device.
![screenshot_20181227-173536_homey gen 2](https://user-images.githubusercontent.com/17

[2018-12-28 23:07] denniedegroot commented on #12
Yes this is normal behavior (also on 1.0). You need to go to the app settings and login.

[2018-12-28 23:08] Fire69 commented on #12
Wow, quick reply! :)

I'll try that tomorrow, still waiting for my Ring to be delivered.
Thanks!!

[2018-12-28 23:12] denniedegroot commented on #12
How would you describe this sentence to make it more clear that you need to go to the app settings?

[2018-12-29 14:16] Fire69 commented on #12
I can confirm everything is working perfectly with 2.0!
Thanks for the support :)

[2018-12-29 14:16] #12 closed

[2018-12-30 15:41] Fire69 opened #13 "'The generic alarm is turned on' listed twice"
![image](https://user-images.githubusercontent.com/1757287/50548694-ae707280-0c51-11e9-9989-6c3dd581f582.png)

I guess one of those should be 'Off' instead of 'On'.

[2018-12-30 17:34] Marcotics commented on #1
Ring doorbell 2 has shown a - as battery level since the day i bought it fairly recent

[2018-12-30 22:53] denniedegroot commented on #13
This is a translation error in Homey and not in the app. Please report this to Athom.

[2018-12-30 22:53] #13 closed

[2018-12-30 22:55] Fire69 commented on #13
I figured something like that, because I searched through all the files and couldn't find that specific sentence anywhere :)
Thanks, I'll report it to Athom 👍

[2018-12-31 09:27] valkhyr1 opened #14 "Incorrect entries in flow"
I have installed v2.0.4 on a homey v2.0.0-rc.9 and when I choose the ring doorbell in a flow I get two 'Het algemene alarm gaat aan' entries. The other entries are correct.

[2018-12-31 09:46] daneedk commented on #14
See: https://github.com/denniedegroot/com.ring/issues/13

[2019-01-02 14:55] WeeJeWel commented on #13
Fixed in https://github.com/athombv/node-homey-lib/commit/e89dee15fcb6008411b939537ea7f27c0c4b03bb

[2019-01-03 10:41] JohanvanZanten opened #15 "battery status"
the battery status is not correctly (if any) shown

[2019-01-03 19:20] denniedegroot commented on #15
Please give me a debug log from the athom-cli.

[2019-01-03 19:21] denniedegroot commented on #14
Duplicate

[2019-01-03 19:21] #14 closed

[2019-01-04 07:02] JohanvanZanten commented on #15
Hi Dennie,

Where can I ifind the log file, I installed node.js and am able to login homey, but then it stops for me; not being a developer

From: denniedegroot <notifications@github.com>
Sent: donderdag 3 januari 2019 20:21
To: denniedegroot/com.ring <com.ring@noreply.github.com>
Cc: Johan van Zanten <johan@vanzantenonline.net>; Author <author@noreply.github.com>
Subject: Re: [denniedegroot/com.r

[2019-01-04 07:43] JohanvanZanten commented on #15
Hi Dennie,

Forgot to mention that the Ring is model Video Doorbell 2 which holds a battery; if you want to have me test this model please let me know

Grtx Johan van Zanten

From: denniedegroot <notifications@github.com>
Sent: donderdag 3 januari 2019 20:21
To: denniedegroot/com.ring <com.ring@noreply.github.com>
Cc: Johan van Zanten <johan@vanzantenonline.net>; Author <author@noreply.github.com>

[2019-01-13 09:07] rodroz commented on #9
Also willing to test image grabbing. Would like a image tag to be used in conjunction with ie Telegram.

[2019-02-22 20:38] schaferrich opened #16 "Autorisation for Ring doesn't work"
With my homey I tried to install the ring app so I can do something with it at Homey.
I filled in the autorisation, but or stille doesn't work.
Do you know how I can fix this?

[2019-02-23 13:28] denniedegroot commented on #16
Is you authorization correct? Does the "revoke authorization" button appear?

[2019-02-24 10:32] schaferrich commented on #16
Er verschijnt een grijze knop met de tekst:
'Verwijder autorisatie'
Is dat goed of juist niet?

[2019-02-24 10:37] denniedegroot commented on #16
Ja dat zou goed moeten zijn. Heb je zojuist ook een log gestuurd? Daarin zie ik dat de verificatie niet lukt. Zou je de app eens kunnen verwijderen en opnieuw willen installeren?

[2019-02-24 10:40] schaferrich commented on #16
Ik heb net week de apparaten toegevoegd van ring. Dus dat is wel gelukt...
Is dat dan voldoende?

[2019-02-24 11:37] denniedegroot commented on #16
Als je apparaten kunt toevoegen is het gelukt. Wat is dan precies het probleem?

[2019-02-24 11:42] schaferrich commented on #16
Ik dacht dat je in die app iets moest toevoegen, maar dat moest dus gewoon
via apparaten toevoegen...
Wat kun je verder doen met de app?

Mvg, Rich

Op zo 24 feb. 2019 12:37 schreef denniedegroot <notifications@github.com>:

[2019-02-24 12:03] denniedegroot commented on #16
Of je deurbel, motion alarm afgaat en de chime laten afgaan bijv.

[2019-02-24 12:03] #16 closed

[2019-02-26 09:02] jeesnl commented on #10
Hi Danny,

To come on my earlier request.
The floodlight cam is working for the movements. But would like to have is working also for the light en the alarm to turn it on via homey.
I happy to support the testing.

Thanks in advance

[2019-03-01 17:03] denniedegroot commented on #10
I really can't integrate it without having a device. The only other possibility is that someone shares their Ring account so I can access the devices, but this is of course "privacy" sensitive.

[2019-03-01 21:45] gruijter commented on #9
Any news on this feature request?

[2019-03-02 00:42] denniedegroot commented on #9
I really can't integrate it without having a device. The only other possibility is that someone shares their Ring account so I can access the devices, but this is of course "privacy" sensitive.

[2019-03-02 09:55] gruijter commented on #9
Maybe someone with a ring is willing to take over the maintenance of the Homey app?

[2019-03-02 10:18] denniedegroot commented on #9
They can always make a pull request.

[2019-03-02 10:22] mruiter commented on #9
Geen probleem!

Verstuurd vanaf mijn Apple Watch

Op 2 mrt. 2019 om 01:42 heeft denniedegroot <notifications@github.com> het volgende geschreven:

[2019-03-02 11:44] mruiter commented on #9
Dennie I can send my credentials on slack if you want access to a ring .

Just be aware I sleepwalk at night .... nude or in clown 🤡 costume

Verstuurd vanaf mijn iPhone

[2019-03-02 16:15] denniedegroot commented on #9
I created a new branch named 'image_grab'. The trigger works and has the jpg data from Ring, but it doesn't seem to work for me...

[2019-03-02 22:05] denniedegroot commented on #9
Now it works for me, please test it and let me know. Also test the ring Chime if you can.

[2019-03-04 17:49] rodroz commented on #9
Hi,

you actually able to grab the image from ring ? .. When will this be implemented in the ring app on Homey ?.. :)

[2019-03-04 18:03] mruiter commented on #9
Soooooon

Verstuurd vanaf mijn iPhone

[2019-03-04 19:12] rodroz commented on #9
That's is excellent, an donation is coming your way when updated. Thank you.

[2019-03-05 08:07] gruijter commented on #9
Tested and got it working eventually with https://apps.athom.com/app/email.sender to send the snapshot by email on motion detection.

Good job @denniedegroot !

[2019-03-05 08:25] mruiter commented on #9
Telegram also works

Verstuurd vanaf mijn iPhone

[2019-03-05 20:26] denniedegroot commented on #9
A beta version is submitted to the App store. If there are any issues please create a new ticket.

[2019-03-05 20:26] #9 closed

[2019-03-06 06:39] paulvanderheijden90 commented on #1
Ring 1 switchs to Ring 2 so ADD to the latest version. But no battery level.

[2019-03-09 06:55] rodroz commented on #9
Downloaded the beta and tried a flow. Just getting invalid authentication 404 when using the grab image card. Is there anything that I missed?

[2019-03-09 07:08] rodroz commented on #9
Hmm just started working without the error.. Ok, now to see how to send the grabbed image to telegram

[2019-03-09 09:07] mruiter commented on #9
Use the a new snapshot card from ring as trigger and telegram app send image as action card.
Use the image tag that’s available for the telegram action card

Verstuurd vanaf mijn iPhone

[2019-03-09 09:07] denniedegroot commented on #9
@rodroz use the image tag in the ‘if’ flow card.

[2019-03-09 10:18] rodroz commented on #9
Thanks Dennie, I managed to make 2 flows. One for grabbing and one for sending. Excellent work.

[2019-03-09 13:03] rodroz commented on #9
Haha, getting the samme image over and over... Any ideas for that?

[2019-03-09 15:28] denniedegroot commented on #9
Could you create a new issue for that?

[2019-03-09 16:23] rodroz opened #17 "Repeatedly the same image get sent from the image grabber"
Seems like there is no refresh in the ring doorbell for the snapshots. If I test, the same image is sent each time. Tried to add delay up to 7 seconds before grabbing with the flow card.

If I go into the official ring app, the last image grabbed by the doorbell is updated in the ring app and then its that image that get grabbed by the Homey ring app.

[2019-03-09 19:35] mruiter commented on #17
Strange i dont have this problem

Verstuurd vanaf mijn iPhone

[2019-03-09 20:02] rodroz commented on #17
That's really strange. Which version of ring do you have, I have the first v1 version. I deliberately have not gone into the official app since I wrote and have about 7 pictures in telegram with the same picture now after motion alarms.

[2019-03-09 20:24] mruiter commented on #17
I have the ring pro

Verstuurd vanaf mijn iPhone

[2019-03-09 21:16] rodroz commented on #17
Maybe only issue with v1 ring then.

[2019-03-10 13:51] denniedegroot commented on #17
That is weird indeed. The v1/v2 is a battery device right? Maybe it has to be 'woken' before it grabs a new image. But I currently don't know how to do this.

[2019-03-10 13:55] rodroz commented on #17
Hi Dennie,

Mine v1 is hardwired and powered from steady source. Tested some more today and I can confirm it only grabs the last image that is updated when opening the official app.

[2019-03-10 15:08] denniedegroot commented on #17
Could you try the beta branch? I made some adjustments so that it should refresh the image. (568c454)

[2019-03-10 15:15] rodroz commented on #17
Hmm.. Think you are asking things I can't do unfortunately :-P.. I have no possibility to install on homey unless it's via the app store and I can't see any updates there yet.

[2019-03-10 15:16] denniedegroot commented on #17
@mruiter could you maybe do a sanity check before I submit this to the app store?

[2019-03-10 15:35] mruiter commented on #17
I should be landing in about 2 hours so I could do a check later today

Verstuurd vanaf mijn iPhone

[2019-03-11 14:10] nicofr1908 commented on #17
Kunt u mij uit deze mailwisseing halen?Verzonden vanaf mijn Samsung Galaxy-smartphone.
-------- Oorspronkelijk bericht --------Van: Marco Ruiter <notifications@github.com> Datum: 10-03-19  16:35  (GMT+01:00) Aan: "denniedegroot/com.ring" <com.ring@noreply.github.com> Cc: Subscribed <subscribed@noreply.github.com> Onderwerp: Re: [denniedegroot/com.ring] Repeatedly the same image get sent from the i

[2019-03-11 14:30] mruiter commented on #17
Dat zul je zelf op github moeten doen.
Maar kijk even verder en onder aan de mail zie je een mute knop

Verstuurd vanaf mijn iPhone

[2019-03-11 14:31] mruiter commented on #17
Dennie ik heb nu een dag de nieuwe beta versie getest en alles lijkt goed te functioneren

Verstuurd vanaf mijn iPhone

[2019-03-11 19:29] Genghes commented on #15
I have ‘Ring Doorbell 2’ and the battery never reports any Battery levels. Did not do it in v2.0.4 and not in the 2.1.0 Beta.

[2019-03-11 20:35] Genghes opened #18 "Authorization issue in 2.1.0 (Beta)"
Startet testing the new image grab feature today, but can not get it to work.

I have authorized the app, and flows get triggered. But the card: '' does not work. It reports the following error:

invalid_authentication 401 {"error":"not authorized"}

I have tried to revoke authentication and the reauthenticate, but still grabbing does not work.
(Everything else works, so i must be authenticated)

[2019-03-12 05:34] rodroz commented on #18
Same problem here, intermittent though. The beta worked for 3-4 days and now I have the same issue.

Restarted app, reauthenticated

[2019-03-12 06:17] mruiter commented on #18
He has a new beta but iTs only on github not in store yet . Still dont have problems on my ring pro

Verstuurd vanaf mijn iPhone

[2019-03-13 11:22] sossienl commented on #18
Same issue here.

[2019-03-15 19:29] denniedegroot commented on #18
I just submitted 2.1.1 to the app store. Please let me know if this is still an issue.

[2019-03-17 09:34] wmmudde opened #19 "Ring spotlight cam"
Hello,

Is it possible to create support and the correct icon for Ring Spotlight cam?
And Maybe ADD function to trigger lights and alarm? Thanks in advance.

[2019-03-17 18:45] denniedegroot commented on #19
Please see issue #10

Duplicate of #10

[2019-03-17 18:45] #19 closed

[2019-03-18 00:56] moekdegroot commented on #18
Hi Dennie. I still have the issue. I removed and re-added the authorization and rebuild the flow but that didn’t help. If you need anything to debug let me know. And maybe a stupid question but do you perhaps need a ring subscription to make this work? Are there any settings that have to be enabled/disabled which can cause this error? Thanks for your work! Best, Moek

[2019-03-18 07:52] nicofr1908 commented on #18
Ik word gek van de emailsAfmelden heeft geen enkele zinVerzonden vanaf mijn Samsung Galaxy-smartphone.
-------- Oorspronkelijk bericht --------Van: moekdegroot <notifications@github.com> Datum: 18-03-19  01:56  (GMT+01:00) Aan: "denniedegroot/com.ring" <com.ring@noreply.github.com> Cc: nicofr1908 <nico@kloos.nu>, Manual <manual@noreply.github.com> Onderwerp: Re: [denniedegroot/com.ring] Authorizat

[2019-03-18 08:06] mruiter commented on #18
Ik ook ;)

Log in op github en meld je af op deze thread . Er zit ook een help functie bovenin de Website van github :)

Verstuurd vanaf mijn iPhone

[2019-03-18 08:16] nicofr1908 commented on #18
Nee inderdaad!Hoe komen we hier uit??Verzonden vanaf mijn Samsung Galaxy-smartphone.
-------- Oorspronkelijk bericht --------Van: Marco Ruiter <notifications@github.com> Datum: 18-03-19  09:06  (GMT+01:00) Aan: "denniedegroot/com.ring" <com.ring@noreply.github.com> Cc: nicofr1908 <nico@kloos.nu>, Manual <manual@noreply.github.com> Onderwerp: Re: [denniedegroot/com.ring] Authorization issue in 2.1.

[2019-03-18 08:56] sossienl commented on #18
Same here. Both on Ring 1 & 2. the problem is still there.

[2019-03-18 09:10] nicofr1908 commented on #18
Ow wat fijnVerzonden vanaf mijn Samsung Galaxy-smartphone.
-------- Oorspronkelijk bericht --------Van: sossienl <notifications@github.com> Datum: 18-03-19  09:56  (GMT+01:00) Aan: "denniedegroot/com.ring" <com.ring@noreply.github.com> Cc: nicofr1908 <nico@kloos.nu>, Manual <manual@noreply.github.com> Onderwerp: Re: [denniedegroot/com.ring] Authorization issue in 2.1.0 (Beta) (#18)

Hi Dennie. I s

[2019-03-18 19:19] denniedegroot commented on #18
It seems that it is no longer working. Ring has blocked the api, other apps are reporting the same error.
I will investigate this further.

[2019-03-18 19:20] denniedegroot commented on #18
@nicofr1908 just un-watch your self from this repository if you don't want mails...

[2019-03-18 19:22] denniedegroot commented on #17
It seems that it is no longer working. Ring has blocked the api, other apps are reporting the same error.
I will investigate this further in #10 .

[2019-03-18 19:22] #17 closed

[2019-03-19 06:50] moekdegroot commented on #18
Thanks Dennie, hope you can make it work!

[2019-03-26 15:48] benotje commented on #18
we just bought a new Ring doorbell but we can't install it on homey, is this the same issue as the bug?

[2019-03-26 15:55] nicofr1908 commented on #18
Ik wil geen mail meerrrrr afmelden helpt niet!!!!Verzonden vanaf mijn Samsung Galaxy-smartphone.
-------- Oorspronkelijk bericht --------Van: benotje <notifications@github.com> Datum: 26-03-19  16:48  (GMT+01:00) Aan: "denniedegroot/com.ring" <com.ring@noreply.github.com> Cc: nicofr1908 <nico@kloos.nu>, Mention <mention@noreply.github.com> Onderwerp: Re: [denniedegroot/com.ring] Image grabber auth

[2019-04-25 09:08] Nakika commented on #18
Is iT possible to snooze ring and chime through the Homey?
I want to make a flow: If my husband comes home Ring and chime is snoozed (works at night and goes to sleap) would be a great feature.

[2019-04-25 09:10] Nakika commented on #15
Here ring doorbell 2. Battery status does not work either.

[2019-05-03 21:34] 242Racing opened #20 "Feature request: Motion Alerts Toggle"
Would it be possible to implement function to toggle "Motion alerts" on/off from Homey? Maybe this code can be used:

https://github.com/tchellomello/python-ring-doorbell/issues/125

https://github.com/tchellomello/python-ring-doorbell/issues/126

[2019-05-04 10:24] Busta999 commented on #15
Day 8 of Homey. I’m using a Standard Ring Doorbell and Beta 2.1.1 Ring App.

I can’t work out how to get the battery reporting to work.

Is this still a problem?

[2019-05-04 10:33] nicofr1908 commented on #15
Spam spamVerzonden vanaf mijn Samsung Galaxy-smartphone.
-------- Oorspronkelijk bericht --------Van: Busta999 <notifications@github.com> Datum: 04-05-19  12:24  (GMT+01:00) Aan: "denniedegroot/com.ring" <com.ring@noreply.github.com> Cc: Subscribed <subscribed@noreply.github.com> Onderwerp: Re: [denniedegroot/com.ring] battery status (#15) Day 8 of Homey. I’m using a Standard Ring Doorbell and Bet

[2019-05-04 11:22] denniedegroot commented on #15
@Busta999 can you send me a "Diagnostics report" for the Ring app from within the Homey app?

@nicofr1908 you are still subscribed to mails, please stop your nonsense and unsubscribe. And if you dont know how to do that contact github or read the manual.

[2019-05-04 11:53] nicofr1908 commented on #15
SpammmmmmmVerzonden vanaf mijn Samsung Galaxy-smartphone.
-------- Oorspronkelijk bericht --------Van: denniedegroot <notifications@github.com> Datum: 04-05-19  13:22  (GMT+01:00) Aan: "denniedegroot/com.ring" <com.ring@noreply.github.com> Cc: nicofr1908 <nico@kloos.nu>, Mention <mention@noreply.github.com> Onderwerp: Re: [denniedegroot/com.ring] battery status (#15) @Busta999 can you send me a "D

[2019-05-04 14:21] Busta999 commented on #15
This is my Day 9 of Homey so hopefully this is what you need?

6feba58a-4455-4811-a3ce-af4f39ecfcaa

[2019-05-05 11:04] denniedegroot commented on #15
@Busta999 Thank you, that is what I needed.

Can anybody test my bugfix/battery branch and test if the battery is now working correctly?

[2019-05-06 17:39] Busta999 commented on #15
Sorry, I have not yet worked out how to do that yet.

I found some instructions but they were for a PC 👎

[2019-05-30 22:15] MrZANE42 opened #21 "Authorize doesn't work (at least not on homey FW v1.5.13)"
When trying to authorize as a ring user on homey with old web-based 1.5.13 firmware using the latest ring app (2.0.4) or the beta version (2.1.1) the authorization fails.
Either nothing happens or an error message "Error: socket hang up" is shown.
The password isn't saved and it's not possible to add a ring device.
A few months ago I did add a ring doorbell under another account on this homey.
Thi

[2019-05-30 22:33] denniedegroot commented on #21
Can you send me a diagnostics report after you tried to authorize?

[2019-05-31 09:15] MrZANE42 commented on #21
Sure. Could you please tell me how to get the report?

[2019-05-31 09:57] denniedegroot commented on #21
From within the Homey app. Go to settings -> apps -> Ring app -> Gear symbol -> send diagnostics report.

[2019-05-31 10:12] MrZANE42 commented on #21
Thanks for the tip but I can't find any gear symbol.
Keep in mind that I use the old firmware and the android platform.
When you say the app which version are you referring to the latest homey app (Which is only for 2.x fw.), the second latest or the Homey(Legacy)? I have them all installed but if I try to use the latest app. it requires me to first update my firmware which I rather not do just no

[2019-05-31 11:54] denniedegroot commented on #21
That description is for the Homey 2.0 app. Running the app in dev mode from pc is fine too, just give me a complete dump of the output.

I have seen the updated reply but thats not much information to solve this.

[2019-05-31 22:42] MrZANE42 commented on #21
Hi. Here's a log from it running in dev. mode, hope it helps:
─────────────── Logging stdout & stderr ───────────────
com.ring running...
2019-06-01 00:35:00 [log] [ManagerDrivers] [chime] onInit
_verifyAuthentication
_authenticate
_https_auth
_refreshDevice
_https /dings/active
{ Error: socket hang up
    at createHangUpError (_http_client.js:331:15)
    at TLSSocket.socketCloseListener (_http_cl

[2019-05-31 22:50] denniedegroot commented on #21
I don't see anything wrong, the "errors" happen sometimes when Ring closes the connection, but it's not related to the authentication. Are you sure you are entering the right username and password to authenticate? Or maybe your provider is blocking some url that Ring uses to authenticate?

The Homey firmware does not matter, it should also work for older firmware, nothing has changed for the newes

[2019-06-24 13:43] Patrick1610 opened #22 "Support for new Homey Cameras function."
Hi,

Will it technically be possible to implement the ring app with the new Homey Cameras function?

Regards,

Patrick

[2019-06-28 07:25] rickdeneer opened #23 "Grab pictures"
I'd like to have snapshots on my mobile phone when there is someone in front of my door. Is it possible to have this feature in this app in combination with Homey?

[2019-06-28 08:37] mruiter commented on #23
Only when Athom becomes a ring partner. Else there Will be no access to the pictures since ring blocked this earlier this year.

Just e-mail Athom on support@athom.com that you would like them to become ring partner so this is possible

Verstuurd vanaf mijn iPhone

[2019-06-28 09:02] mruiter commented on #23
It seems they just found out a few hours ago on how the pictures are being made available after the ring change a few months ago

https://github.com/tchellomello/python-ring-doorbell/issues/124

On the bottom they are now able to grab the pictures

[2019-06-28 09:03] mruiter commented on #18
It seems they just found out a few hours ago on how the pictures are being made available after the ring change a few months ago

tchellomello/python-ring-doorbell#124

On the bottom they are now able to grab the pictures

[2019-06-28 09:04] mruiter commented on #18
`#!/usr/bin/python
# -*- coding: utf-8 -*-.
# by tender

import os
import json
from datetime import datetime
import time
import requests

ring_email = "Bill.Gates@gmail.com"
ring_password = "Micro$oft"

TOKEN_PATH = os.path.join(
    "./",
    'ring.oauth'
)

def refresh_ring_token(refresh_token):
    payload = { "client_id": 'ring_official_android', "grant_type": 'refresh_token', "refresh_token":

[2019-06-28 09:04] mruiter commented on #18
#!/usr/bin/python
# -*- coding: utf-8 -*-.
# by tender

import os
import json
from datetime import datetime
import time
import requests

ring_email = "Bill.Gates@gmail.com"
ring_password = "Micro$oft"

TOKEN_PATH = os.path.join(
    "./",
    'ring.oauth'
)

def refresh_ring_token(refresh_token):
    payload = { "client_id": 'ring_official_android', "grant_type": 'refresh_token', "refresh_token":

[2019-06-28 09:11] Genghes commented on #18
Ohh. Nice..
Will you implement this?

[2019-07-12 19:20] Raycokes2000 opened #24 "Ring2 videodoorbel support wanted"
Ring2 videodoorbel is not working unfortunately please add support
Regards Ray

[2019-07-13 11:37] denniedegroot commented on #24
It is supported, what is not working?

[2019-07-14 07:35] Gertje2105 commented on #24
I also have a Ring Video doorbell 2. I want to make a flow:

**When** Ring is activated (doorbell is pushed) **Then** Send a Screenshot to my phone or something like that.

I think it is not possible now?

[2019-07-14 08:50] mruiter commented on #24
Screenshot support from ring is broken atm

Verstuurd vanaf mijn iPhone

[2019-07-14 11:07] Raycokes2000 commented on #24
Ring2 is not found to install, says no devices found.

[2019-07-14 11:54] mruiter commented on #24
Strange in just re added a ring 2 without problems . Sign out and sign in youre cloud again in de ring app settings try again

Verstuurd vanaf mijn iPhone

[2019-07-15 18:43] Raycokes2000 commented on #24
Aha got it, probably user privelige issue. Ring has several users eg different owner/user. Meaning could be blocked vor normal users. I now haveused owner username 👌👍

[2019-07-15 18:44] #24 closed

[2019-07-18 16:20] rodroz commented on #23
Well that's good, but it seems like the Homey project is idle unfortunately. My hope is that someone with the proper skills to implement the changes can continue.

[2019-08-11 15:01] follox opened #25 "Cant log in"
When trying to add my login details I am getting this error:
Error: invalid_authentication 401 {"error":"access_denied","error_description":"invalid user credentials"}

Any help would be much appreciated.

[2019-08-22 15:19] Airwolf33 commented on #20
It would be great to be able to stop motion detection when we are at home !
Sure homey can do that :-)

[2019-08-23 07:23] Cokeisit commented on #18
Is a fix for this bug in the works now? Will it be possible to gram images from the Stick Up Cam as well?

[2019-08-31 10:43] cbho commented on #15
Installed the battery-fix version - and battery status of my Ring Doorbell V1 was updated to the correct level ;-)

[2019-08-31 15:25] denniedegroot commented on #15
@cbho Thanks for testing! I will upload a beta version of the app to the store.

[2019-09-03 19:44] denniedegroot commented on #15
Pushed to stable. If the issue persists then please re-open this ticket.

[2019-09-03 19:44] #15 closed

[2019-09-03 19:45] denniedegroot commented on #21
No activity, closing issue.

[2019-09-03 19:45] #21 closed

[2019-09-03 19:46] denniedegroot commented on #25
Are you sure you are using the right account details? If not are you the "master" user of the Ring app?

[2019-09-03 19:47] denniedegroot commented on #23
Duplicate of #18

[2019-09-03 19:47] #23 closed

[2019-09-03 19:47] denniedegroot commented on #22
Duplicate of #18

[2019-09-03 19:47] #22 closed

[2019-09-04 08:34] follox commented on #25
I figure out that I had to manually write my credentials instead of using the autofill on my phone. If you use that it gives me that error.

[2019-09-05 10:22] mhoogenbosch commented on #10
Hi @denniedegroot i'm willing to invite you to my spotlight cam, it's no floodlight, but since you labeled it the same as issue #10. If you are willing to still help.. ;-) (knowing it takes a big piece of your time).

[2019-09-05 14:41] Eugeniuszz opened #26 "Accuniveau Tag voor RING app in Homey werkt niet meer"
Dag Dennie,

Sinds enige tijd kan ik de tag niet meer instellen voor het accuniveau in de RING app in Homey. Kun jij mij verder helpen?

Dank
Mark

[2019-09-06 11:06] mapulu commented on #18
I added a PR for the beta. You need to reauthenticate after this.
It works for me now to grab screenshots from my Ring Doorbell 2

[2019-09-17 12:16] sossienl commented on #18
Sorry, I might have missed a step. But I don't see a beta version of Ring app in the Homey App Store. How am I able to test this?

[2019-09-17 13:34] mapulu commented on #18
It is here on Github.
Wait for a (beta) release or you need to CLI install this. https://community.athom.com/t/how-to-cli-install-method/198

[2019-09-20 15:53] Piddinygaard opened #29 "Add support for doorview cam"
Request for adding support for doorview cam!

[2019-09-21 14:58] #25 closed

[2019-09-26 06:56] calvinsidik1807 opened #30 "Ring Chime doesnt"
Anyone after update to 2.1.2 having trouble with chime? I can't rang the ring chime in flow statement.

[2019-09-26 21:01] Danielvr commented on #18
Maybe it's a good idea to make a tag of it so that you can use it to send an image to Telegram.
I've installed the beta app but with the Doorbell 1 it's not working. I also don't pay for the services.

[2019-09-27 17:25] Cokeisit commented on #18
I have problem with the beta 2.1.2. If I test a flow it grabs an image and another flow is triggered when there is a new image and send a push message with the image to my phone. When someone presses the actual button on my Doorbell 2 the first flow is activated but the second flow doesn't send any message. I don't know if the second flow is triggered or not. It's strange that it works when testin

[2019-10-01 15:31] kjettern commented on #29
+1 would be great if support was added!

[2019-10-17 21:11] Peanudt opened #31 "Two factor authentication support"
With the two factor authentication for ring activated, I cannot authorize Homey. Set-up in the app only allows username/password combo.

[2019-10-17 21:47] gy1977 opened #32 "No Snapshot Flow for Stick-Up Cam"
Hi have the ring stick up cam elite wired but there is no option for me to take a snapshot.

The app can add the cameras but in the ‘then’ part of the flow there are no ring options.

[2019-10-18 09:39] Nakika opened #33 "Image Ring doorbell v2"
Jammer genoeg nog steeds geen recente foto ondanks vertraging.

[2019-10-18 09:55] mruiter commented on #33
Hier altijd spot on de actuele .. kan het zijn dat je ring zelf slechte WiFi conenctie heeft en hierdoor er langer over doet om de snapshots te uploaden naar de ring cloud ?

Verstuurd vanaf mijn iPhone

[2019-10-18 10:17] Nakika commented on #33
Hoi Marco,

Bedankt voor je snelle reactie.
Volgens de Ring is de WiFi ontvangst uitstekend. Hij hangt dan ook aan de
buitenmuur (metselwerk) van de meterkast en daarin hangt de router weer
tegen aan.
Hoeveel vertraging adviseer jij?

Vriendelijke groet,

Ria Banis

Op vr 18 okt. 2019 om 11:55 schreef Marco Ruiter <notifications@github.com>

--
Ria Banis-Bekking

[2019-10-18 10:46] mruiter commented on #33
Ik heb geen vertraging . Gebruik action card new snapshot is available en de imagetag stuur ik door met telegram

Verstuurd vanaf mijn iPhone

[2019-10-31 09:12] delor001 opened #34 "ring video doorbell / stick up camera report no movements"
since the update of Homey I have had problems with the rinp app. I had created a flow that reported movements of the front door (ring video door bell) through speech through homey. this no longer works, I would also have created a flow when the doorbell rings, it still works. Also movements that the stick up camera detects are no longer mentioned. I do get notifications from the ring app. From rin

[2019-11-01 06:25] Pim65 opened #35 "Ring not working in Homey 3.0"
Hi Dennie,

It seems that the ring app is giving problems in Homey after updating to 3.0
Testing a flow manually works, but if the trigger comes from the doorbell it is not.

Is this something known or can it be solved?

THNX Pim

[2019-11-12 14:22] evroekel commented on #35
+1 same issue here.

Also issue with two day authentication. I do get a SMS-code after sharing credentials with the app but no place to add the code in the app.

[2019-11-12 14:59] mruiter commented on #35
Working perfect on 7 different homeys here no trouble at all on 3 , 3.1 and 3.2 series firmware

Two factor authentication isn’t supported . You should turn it off if you want to use anything else then the official ring app

Verstuurd vanaf mijn iPhone

[2019-11-12 15:15] Pim65 commented on #35
Sorry, Working after a small update.

[2019-11-13 14:03] evroekel opened #36 "Error: too many requests from dependency service & authentication issue"
![IMG_5523](https://user-images.githubusercontent.com/57673156/68770538-9a91ed00-0626-11ea-8450-4676c19194f9.jpeg)

I got two questions:
1. Any idea what this (image above) means and how to solve this?
2. After entering my credentials I do get a authentication code from ring a couple of minutes later. But no place to add this in the ring form.

Homey version: 3.0.0
App version: 3.1.0.429
Homey Rin

[2019-11-13 15:32] mruiter commented on #36
You need to disable 2fac authentication it’s not supported in app

Verstuurd vanaf mijn iPhone

[2019-11-14 14:41] evroekel commented on #36
Thx.. That solved the issue, but I'll open a new issue cards are not available in the homey flow :-(

[2019-11-14 14:41] #36 closed

[2019-12-20 13:41] BBEHannes opened #37 "No more devices showing up"
Since a day or so there are no more devices showing up in the app and the existing ones disappeared. Tried reinstalling but without luck.

[2019-12-20 13:42] BBEHannes opened #38 "Ring with MFA"
Since enabling MFA every couple of days I am getting MFA requests out of the blue and the homey Ring app loses connection. Any testing has been done in combination with MFA on Ring?

Thanks!

[2019-12-20 13:59] mruiter commented on #38
mfa does not work with the app.

you will have to disable it . its bullshit 2 so dont use it 😂

Verstuurd vanaf mijn iPad

[2019-12-20 14:05] BBEHannes commented on #38
MFA bullshit :)? Nuff said

[2019-12-20 14:10] mruiter commented on #38
It’s the same code so doesn’t bring extra security . Only when it’s random token based .

Either disable it or don’t use the app .
Mfa with static code that can also be intercepted is bullshit indeed

Verstuurd vanaf mijn iPhone

[2019-12-20 20:30] Fire69 commented on #38
Wow...  Maybe you should let Dennie decide if he wants to implement this?

By the way, that static code are you talking about?

[2019-12-20 20:52] mruiter commented on #38
Ofc he can decide , also said a few times in older issues just disable it so I guess that’s a bit of an answer on that.

The api is closed and secret / not shared by ring . So if they don’t give access to it how would you suppose to implement the unknown .., we could go to church on Sunday’s an pray 😂

Verstuurd vanaf mijn iPhone

[2019-12-21 06:30] mruiter commented on #38
on the static code part . It’s just a long lasting token . So it doesn’t bring much . You as a user should just not reuse passwords and have one on ring that isn’t reused on anything else . Then there is not need to have the extra static token .

Real mfa is dynamic and token based that’s just valid for a short time . Ring MFA is for the stupid that reuse their password everywhere

[2019-12-21 06:55] BBEHannes commented on #38
Only going to bother once in replying, then I’ll await the app owner’s response;

I genuinely do not care about static/ private code or not. One perfect example that already justifies using MFA (for me) is a data breach.... Which already happened at Ring once in a less harmful way (check your email from this week for example) where it was suspected to have leaked user data. Remember that these day

[2019-12-21 07:04] mruiter commented on #38
This data breach was about passwords list that got used as reference on ring accounts . So the reuse of passwords from another company that got hacked where used to test on ring accounts. So as said have a unique password for ring and I will not happen

As ring gets hacked by a data breach the will most likely also have youre mfa tokens

Verstuurd vanaf mijn iPhone

[2019-12-21 07:06] mruiter commented on #38
Also when ring sees a lot of users use the mfa from other apps then their certified ring app they will change the api again like a few times in the past and the app will stop working again for a few months until someone hacks the api again

Verstuurd vanaf mijn iPhone

[2019-12-21 11:51] tccflash commented on #37
Same here... I read than ring makes changes in there api... Would be nice if the creator of the ring app have a look about this! :+1:

[2019-12-21 14:56] mruiter commented on #37
The existing also went away ???
No problem here see attached picture

But by any chance did you activate multi factor authentication after the promotion mail that ring send out last week ?

Mfa does not work with the app and will disconnect it when you enable it

Verstuurd vanaf mijn iPhone

[2019-12-21 15:09] BBEHannes commented on #37
I had it activated (MFA) before. Now it is disabled entirely but it doesn’t find any devices anymore and times out.

[2019-12-21 15:21] ralfh73 commented on #37
Same issue here:
reinstalled the app, but couldn't add any devices any more.

[2019-12-21 16:21] tccflash commented on #37
I don't activate mfa, but no devices found. I reinstalled the app too... But same issue.

[2019-12-21 16:23] daneedk commented on #37
My observations, with a Ring Pro:

- Device still available in Homey (Did not remove the device or app)
- The `The generic alarm turned on` and `The motion alarm turned on` flow cards are no longer triggered
- The `Grab current snapshot` flow card still functions.

(For reference, the *Since a day or so* from the topic starter most likely coincides with the 'hacking' attempt of Ring accounts, whic

[2019-12-21 16:31] denniedegroot commented on #38
MFA will not be implemented by me. There is no documentation and reverse engineering is a lot of work only to be blocked again by Ring. I will look into the issue why devices are not found anymore which is issue #37.

[2019-12-21 16:31] #38 closed

[2019-12-22 10:39] jasoncheesemanuk commented on #31
About 3,500 passwords have been released onto the DarkWeb so w have been advised to use Two Factor Authentication now. If you don’t support it, we are going to be a bit stuck!

[2019-12-22 10:57] mruiter commented on #31
Again those passwords are reused passwords from other websites that got hacked. It’s time that people learn to use unique passwords for their private stuff , nothing will solve the stupid people problem not even triple factor authentication

Just choose a unique password and keep mfa disabled.

If ring ever gets hacked mfa doesn’t matter since the hackers also have access to those tokens then.

[2019-12-22 11:02] mruiter commented on #31
Again those passwords are reused passwords from other websites that got hacked. It’s time that people learn to use unique passwords for their private stuff , nothing will solve the stupid people problem not even triple factor authentication

Verstuurd vanaf mijn iPhone

[2019-12-22 11:10] mruiter commented on #38
@BBEHannes and @Fire69

Since you didn’t accept the calling of ring it’s mfa bullshit from a security expert like me ....

Here is the report from motherboard . If you don’t know who that is google it.

Motherboard confirmed that Ring cameras have shoddy security measures — such as not telling users when other people log in, when the cameras are being actively watched and by using a weak form of t

[2019-12-22 11:30] BBEHannes commented on #38
People who are selfclaimed security experts indeed do not convince me with such answers, sorry for that.

@denniedegroot, thank you for your answer!

[2019-12-22 11:31] mruiter commented on #38
Lol not self claimed but largely hired by top company’s 😂

Verstuurd vanaf mijn iPhone

[2019-12-22 13:02] Fire69 commented on #38
Not replying doesn't mean people don't accept your answer. Maybe I just didn't have the time yet?

First, I don't reuse passwords, except for some really unimportant things.
Second, whether or not it's safer doesn't really interest me. If it is, great, if it isn't, also ok.
I just like it because getting the notification when someone tries to log in is a warning I have to change my password.

[2019-12-22 13:21] mruiter commented on #38
@fire69

I tagged you because you asked what static code . The motherboard report referenced to the mfa static code that isn’t secure at all

Verstuurd vanaf mijn iPhone

[2019-12-22 13:33] jahnkenneth commented on #37
Same here, cannot add new devices... It just times out.

[2019-12-24 05:09] jasoncheesemanuk commented on #31
Mine wasn’t a re-used password and it was also pretty complicated (numbers, letters, other characters).

I didn’t know that Ring doesn’t allow other apps to interface with it. I will use a motion sensor by the door rather than using the Ring one.

Thanks

[2019-12-24 15:22] FrankSmeets01 commented on #37
I see that a fix for this issue is prepared as per V2.1.3. Any idea when this version will be released? Will it be a Beta again? Or will there be a new stable version (eg 2.0.6) that can be installed via the regular Homey App store?

[2019-12-24 16:26] denniedegroot commented on #37
@FrankSmeets01 I have no clue. I am waiting on Athom for approval.

[2019-12-27 10:07] Fire69 commented on #38
@mruiter : Just installed 2.1.4. And I immediately got an mail from Ring reporting a new login. I like that, this is just as good as having MFA.  It's about knowing you have to change your password, not about them not being able to get past the MFA.

[2019-12-27 22:30] Fire69 commented on #37
I installed 3.1.4 today and at first sight it seemed like it was working (battery level was updated correctly).
But I tested motion and right this evening and it's not working.
Removed/added the device also, didn't solve the problem.

[2019-12-28 12:22] Fire69 commented on #37
Update:
I saw on the forum that a user had the same problem but that it 'magically' started working today.
So I tested also and indeed, it's working now.
I'm guessing the problem was with Ring instead of your app...

[2019-12-28 14:23] daneedk commented on #37
I can confirm today the `The generic alarm turned on` and `The motion alarm turned on` flow cards spontaneously started to work again! (On earlier cli installed 2.1.4)

[2019-12-28 14:49] jeroenbos22 opened #40 "Homey not triggering"
Devices can be found again since 2.1.3 but they do not trigger in Homey (motion and doorbell).

[2019-12-28 16:07] ralfh73 commented on #37
Just installed version 2.1.4
doorbell found, flow with generic alarm and snapshot works.

[2019-12-29 14:35] mortenkols commented on #37
Where can i download 2.1.4?

[2019-12-29 15:51] Fire69 commented on #37
Euhm... https://github.com/denniedegroot/com.ring ? :)

[2019-12-29 16:57] mruiter commented on #37
I get the confusion, but app.json still tells you version 2.1.3 but peeps refer to that as 2.1.4

Verstuurd vanaf mijn iPhone

[2019-12-29 17:09] Fire69 commented on #37
app.json correctly has 2.1.4 in it, but it's the comments for several commits that still have 2.1.3

[2019-12-29 19:50] mortenkols commented on #37
In the homey store its only 2.0.5 available. How can i install 2.1.4?

[2019-12-29 19:54] Fire69 commented on #37
Wait for Athom to approve the new version, or else: https://community.athom.com/t/how-to-cli-install-method/198

[2020-01-01 21:51] torroa commented on #32
Same here. A StickUp Cam v2, Using v2.1.4 from GIT. I have no option to grab a Screenshot

[2020-01-01 23:38] AdyRock commented on #34
I have the same problem. I have installed the latest version (2.1.4) via the CLI and that has fixed the recent issue where nothing was reported so I now get button press notifications.
I do see in the console log for the '_syncDevices { doorbots:' the field 'subscribed_motions: false,' which is suspicious. I can't see anyway to change that as it is switched on in the Ring app and in the Alex app a

[2020-01-02 00:17] AdyRock commented on #34
After writing the above I saw another issue about switching the motion off and on so I used the example that pointed to and added the following to Api.js:

[code]
then to app.js:

[code]

and finally to device.js at the end of _initDevice():

Now I get motion alerts. So that fixed my problem and verifies the suggested code works. Maybe something like this could be added to the official code

[2020-01-02 02:55] mruiter commented on #34
Did you try a remove the ring device and add it again this solved that problem at one of my sites

Verstuurd vanaf mijn iPhone

[2020-01-02 07:31] AdyRock commented on #34
Yes, I tried that first but it didn't help. I even tried revoking my account and signed in again and then added the device.

The only fix for me was to add the changes that enabled the notification.

[2020-01-02 07:40] delor001 commented on #34
hi,
will there be a new app for this change? my knowledge is not sufficient to put this in the app o.i.d. to adjust.

Regards,
Peter

Verstuurd vanaf mijn iPad

[2020-01-02 16:16] denniedegroot commented on #34
I will have a look into the enabling/disabling motion.

[2020-01-02 16:37] denniedegroot commented on #20
This should work, can someone confirm this?

[2020-01-02 16:37] denniedegroot commented on #34
Enalbing/disabling motion should work with my latest commit, can someone confirm this?

[2020-01-02 16:44] Airwolf33 commented on #20
Hello,
I can’t test because I am no longer able to add my ring objects to Homey.
When I try to add my Stick up Cam or my doorbell, I got « Timeout after 30000ms » error.

Could you Help me ?

Regards,

Cedric
Le 2 janv. 2020 à 17:37 +0100, denniedegroot <notifications@github.com>, a écrit :

[2020-01-02 16:46] denniedegroot commented on #20
@Airwolf33 are you using the laster git master version?

[2020-01-02 16:48] Airwolf33 commented on #20
I use v2.0.5 from Homey App Store.
How can I install the latest git master version ?
Le 2 janv. 2020 à 17:46 +0100, denniedegroot <notifications@github.com>, a écrit :

[2020-01-02 16:49] denniedegroot commented on #20
https://community.athom.com/t/how-to-cli-install-method/198

[2020-01-02 17:13] Airwolf33 commented on #20
Motion detection is always On in my Ring app after running a Homey Flow to disable motion detection...
Le 2 janv. 2020 à 17:49 +0100, denniedegroot <notifications@github.com>, a écrit :

[2020-01-02 17:40] AdyRock commented on #34
Yes, it does indeed work, nice one.

[2020-01-02 17:52] AdyRock commented on #20
The new feature only works for Homey, so you can stop / start Homey reporting motion.
Each interface seems to have it's own setting so Homey can't change the Ring mobile app setting. This is the same with Alexa, the setting in there does not affect the Ring app and vice-versa.
Maybe you could switch the Ring app option off and just rely on Homey, that is what I have done.

[2020-01-02 21:56] jeroenbos22 commented on #40
Sorry my mistake, seems the flowcards were changed so the current flows were broken. After fixing the flows it worked fine

[2020-01-02 21:56] #40 closed

[2020-01-07 18:21] odechr opened #41 "Motion detection on/off doesnt work?"
Hi!

I just tried the motion detection on/off flow, and it doesnt change the "motion alerts" state in the ring app as far as i can see. Could there be a long delay before it goes active?

[2020-01-07 18:35] denniedegroot commented on #41
It does not toggle the state in the app. It disables the device on the api endpoint. The Ring app apparently uses a different api and ignores this.

[2020-01-07 18:35] denniedegroot commented on #37
Released in the appstore.

[2020-01-07 18:35] #37 closed

[2020-01-07 18:36] denniedegroot commented on #34
Released in the appstore.

[2020-01-07 18:36] #34 closed

[2020-01-07 18:37] denniedegroot commented on #33
Please test with the latest version. If this is still an issue then feel free to re-open.

[2020-01-07 18:37] #33 closed

[2020-01-07 18:39] denniedegroot commented on #30
Please test with the latest version. If this is still an issue then feel free to re-open.

[2020-01-07 18:39] #30 closed

[2020-01-07 18:40] #31 closed

[2020-01-07 18:40] denniedegroot commented on #20
Released in the appstore.

[2020-01-07 18:40] #20 closed

[2020-01-07 18:41] #41 closed

[2020-01-08 13:28] FrankSmeets01 opened #42 "Stickup cam - motion detection only works when motion alerts are activated in Ring app"
I'm trying the Homey Ring app for the first time (v2.1.4 on Homey V3.2.0). I notice that Homey only detects motion from the Stickup Cam when the motion alerts are set to ON in the native Ring app. When turned OFF, Homey doesn't detect any motion. Even when I activate motion detection via the action card. By reading https://github.com/denniedegroot/com.ring/issues/20, I expected it to be working in

[2020-01-14 10:53] FrankSmeets01 commented on #42
Can please be looked into this issue (different behavior of the Stickup Cam compared to the Doorbell Pro).

[2020-01-16 08:30] FrankSmeets01 commented on #42
I found some direction on the issue that I raised. I'm using a 'motion schedule' on my Stick-up Cam. When this rules disables the motion alerts it apparently overrules the motion-alert in the API that is triggering Homey.
Can it be checked whether this is due to a bug in the homey-ring app? Or whether this is caused by a bug/feature (:-) from the Ring API?

[2020-01-18 13:45] denniedegroot commented on #42
This is a limitation of the Ring API. It is not possible for me to change/implement this.

[2020-01-18 13:45] #42 closed

[2020-01-20 18:26] #35 closed

[2020-02-01 16:16] jeesnl opened #43 "Motion on/off does not work"
To set the motion detection on or off Via a flow does not work for the stick up cam.

[2020-02-04 18:23] Tottemannen opened #44 "Ring Doorbell motion sensor not working"
Previously the Doorbell 2 motion sensor worked in Homey, but not any more.

[2020-02-12 16:55] Airwolf33 opened #45 "No Doorbell"
Hello.
I use Two fact Auth on my main Ring account.
I have created a specific user for homey without 2 fact auth.
When I  log with this user in Ring App in Homey, I can add my 4 stick up cams, but I can't add my 2 video doorbell 2.
Please help

[2020-02-19 12:09] Kingster2 opened #46 "Plugin broken (New Ring 2FA policy feb-2020)"
Since today the plugin can't connect with Ring anymore. I keep getting mails from Ring that a unkown device is trying to login. This device (Homey) will be blocked unless a pincode is given. This is not possible in the plugin-settings at this point.

[2020-02-19 13:38] sossienl commented on #46
Same here.

[2020-02-19 18:06] zeppie commented on #46
+1

[2020-02-20 07:59] dennisbrouwer91 commented on #46
Yep, i hope this can be fixed soon :(

[2020-02-20 08:20] mruiter commented on #46
Dennie is aware. So we have to wait if he will update the app to support it and if he has time in the future.
Also if another dev has time to look at it one can always send in a pull request for the app.

And dont forget to show love for Dennie and al his work in the app already :)

[2020-02-20 08:21] dennisbrouwer91 commented on #46
That is great @mruiter. Thanks for the update. I will also check if i can fix it somehow!

[2020-02-20 08:22] mruiter commented on #46
There is a blueprint on how to incorporate the 2FA

[2020-02-20 08:23] dennisbrouwer91 commented on #46
Where can i find that @mruiter ?

[2020-02-20 08:46] AdyRock commented on #46
+1.
I don't know how many users you have with this app but do you think Athom should take it on and apply for official partner status?

I hope you can find the time to implement a fix for what was a great app until Ring broke it as I guess that could be quicker than waiting for Athom lol

[2020-02-20 08:56] mruiter commented on #46
This has been brought to their attention multiple times . I know dennie did , i also did with a complete link to apply and with a headsup to my contact within Ring (I was beta tester for the first Ring pros in Europe for them before they hit shops a few years ago)

[2020-02-20 18:57] evroekel opened #47 "Ring doorbell makes two-factor verification mandatory!"
https://www.bbc.com/news/technology-51555450

BBC: "Ring doorbell makes two-factor verification mandatory"

While this app says "Two-Factor Security Authentication is not supported, you must disable this on your Ring account!" So end of story? I hope not...

[2020-02-21 14:07] Allram commented on #47
Duplicate of #46

[2020-02-22 12:41] burnacid commented on #46
I've looked into seeing if I could fix it. Sadly the documentation on 2FA/OTP from Ring it self is non existing. So for me it is guess work sadly...

If anyone has proper documentation please share.

[2020-02-22 12:46] dennisbrouwer91 commented on #46
https://github.com/tchellomello/python-ring-doorbell

That code is a pretty good example on how to see it working. You need to send a couple of headers as far as I can tell!

[2020-02-22 12:49] burnacid commented on #46
I looked at that but if I copy how that works it still does reply with a 412 error and an error message saying a code is send to my phone.

Now my account is locked for some time because of all the logins. Hard to test...

[2020-02-22 14:14] Genghes commented on #46
Got the email from Ring today and they are clear:

Mandatory 2SV for your account will be enabled next week. This includes logins from unofficial or custom integration solutions.
--
If any of these solutions are in use on your Ring account, please update them for 2SV or two-factor authentication support now to avoid any disruption in service.
All account logins using supported Ring applications an

[2020-02-22 14:38] AdyRock commented on #46
I have sent the following to Ring.

Probably fall on deaf ears but at least I feel I have vented lol

[2020-02-22 14:54] kaohlive commented on #46
Problem with supporting 2FA is that you need to use the oAuth Athorization flow. Dennie (or Homey) needs to apply to to register a app with the Ring api. Once you receive the appid you need to ask a user for permission to use their account. This is the approve dialog you normally get. Than the system will respond a access and refresh token. The access token can be used to act like the user whom ap

[2020-02-23 05:37] mruiter commented on #46
This works in Python in getting the Needed key

 https://github.com/tchellomello/python-ring-doorbell/blob/master/test.py

Verstuurd vanaf mijn iPhone

[2020-02-23 05:39] mruiter commented on #46
You first need to call the fetch token method on auth with your credentials. This will throw a MissingTokenError you need to catch. In the catch you call fetch token again but use the callback to receive input of the 2FA code. Also important to save the access code to refresh tokens after expiration.

Verstuurd vanaf mijn iPhone

[2020-02-25 14:06] mruiter commented on #46
Seems all platforms are building on this guy his repro.
Its has 2FA in node.js

https://github.com/dgreif/ring/wiki/Two-Factor-Auth

[2020-03-01 02:01] kaohlive commented on #46
thanks @mruiter I checked their code and managed to get a version implemented into the plugin. I will do a pull request now (if I figure out how). For me its now working with proper wizard and authorization support. Also means the app no longer stores your account.

[2020-03-01 06:43] burnacid commented on #46
@kaohlive super, I've downloaded the code from your repo and installed it manually. I can confirm it works. Headsup you will need to readd your devices

[2020-03-01 06:58] mruiter commented on #46
For me it wasn’t needed to repair the devices . Works straight away overwriting the AppStore version with cli version

Verstuurd vanaf mijn iPhone

[2020-03-01 11:27] burnacid commented on #46
A well I ain't getting any motion triggers from the flow though

[2020-03-01 19:32] denniedegroot commented on #47
Duplicate

[2020-03-01 19:32] #47 closed

[2020-03-02 23:31] Genghes commented on #46
Hi.
I downloaded the fork from @kaohlive and can comfirm the 2FA works great.
But I cant get any motion alarm or button (ring) to work.
I get batterystatus but device status does not change.

I deactivated the original app on my Homey and installed the fork on my lab Homey.

[2020-03-03 04:19] AdyRock commented on #46
Have you tried creating a flow that enables the motion and running it?
I found in the past that Ring sometimes disabled the notification so I worked out how to turn it on and Dennie made it into a flow action.

[2020-03-05 01:30] joninge commented on #46
Will the ring doorbell app be available (again) in Homey after this fix is released?

This is now longer available:
https://homey.app/en-us/store/product/ring-video-doorbell-2/

[2020-03-08 16:22] denniedegroot commented on #46
It's currently being reviewed by Athom.

[2020-03-08 16:37] AdyRock commented on #46
Great, well done and thanks for keeping it going.

[2020-03-08 23:17] kaohlive opened #50 "Improve grabber reliability"
I can grab images from my doorbell 2 just fine. Unless sometimes it doesnt work anymore.
The flow card gives the error alert when run.
Doing some debugging on it and while the app is attached to the debugger it always works flawlessly.
I see you use a retry pattern of 3 retries.
Maybe we need to increase that in some cases? Maybe 5 times.

        let retries = 3; //Make this 5 or 10 times?

[2020-03-09 00:42] kaohlive commented on #50
grabImage(args, state) {
        if (this._device instanceof Error)
            return Promise.reject(this._device);

        let _this = this;
        let device_data = this.getData();

        return new Promise(function(resolve, reject) {
            Homey.app.grabImage(device_data, (error, result) => {
                if (error)
                    return reject(error);

                let ri

[2020-03-09 00:42] kaohlive commented on #50
That code sets the image to the device also.

For future improvements we need to use a stream for the image object.

[2020-03-09 00:46] kaohlive commented on #50
I have tried this:
                let ringImage = new Homey.Image('jpg')
                ringImage.setStream(async (stream) => {
                    const buffer = new Buffer( result, 'binary' );
                    const readable = new require('stream').Readable({
                        read() {}
                      });
                    readable.push(buffer);
                    readable.p

[2020-03-09 17:20] Genghes opened #51 "Losing authentication v2.2.0 (2FA edition)"
Hi.
Installed and running the 2.2.0 version. (@kaohlive version ;)  #46 )
The authentication works fine, but after a couple of minutes/ hours the authentication drops.
A restart of the app works as a workaround.

Here is a exerpt from the log when this happens:

_refreshDevice
_https /dings/active
2020-03-09 17:43:43 [log] [ManagerDrivers] [doorbell] [0] _syncDevice []
_refreshDevice
_https /dings

[2020-03-09 17:27] kaohlive commented on #51
make sure you get the latest version from dennies version. this issue was present in my first pull but it should be fixed a day later.
i have been running it now for a week without any reauthorization requirements.

[2020-03-09 19:27] Genghes commented on #51
Ahh..
Thats how it goes when I test and forget to check for newer releases.

Just checked ant the 2.2.2 version is Live on Athom.
So I will install that on my production Homey.

[2020-03-09 19:28] Genghes commented on #51
Closing Issue, Probably fixed. No need to keep this ticket open.

[2020-03-09 19:28] #51 closed

[2020-03-11 11:02] jvanhensberg commented on #44
I'm having the same issue.
I've recently update to app version 2.2.2, but the issue remains

[2020-03-13 18:46] FrankSmeets01 opened #52 "Linked accounts no longer working fine after 2FA update 2.2.2"
Hi,
I was happy that 2FA was implemented, but I’m having issues when I connect it to a shared ring-account. I can’t connect my doorbell pro (It says no new devices) and the stickup cam can be installed but doesn’t receive motions (in Homey).
When I connect Homey to my main Ring-account, it works fine. But the stickup cam (in Homey) then only receives motion notifications when I have notification e

[2020-03-15 10:38] Patrick1610 commented on #51
I do keep having this problem with the 2.2.2 version.. The app does say it's authenticated, but when I test I flow I get an error..
![image](https://user-images.githubusercontent.com/6585375/76699819-5f292d00-66b1-11ea-9043-b2f73c87c074.png)
<img width="625" alt="Screenshot 2020-03-15 at 11 36 29" src="https://user-images.githubusercontent.com/6585375/76699826-68b29500-66b1-11ea-8fee-da8fac325eeb.

[2020-03-15 11:22] kaohlive commented on #51
If you try to add a new device, what do you get then? does it end with no devices available or with an error?

[2020-03-15 21:57] Patrick1610 commented on #51
I have already added al my devices successfully, so now I get the ‘No new devices found’ text.

[2020-03-15 22:05] kaohlive commented on #51
but that means the authentication still works. Else you would get an error there.
So its amother problem I am afraid. Image grabbing unique maybe. Do you get generic alarms when the bell has been used? or do they also fail

[2020-03-15 22:07] Patrick1610 commented on #51
No I don’t get generic alarms, nor do I get motion alarms. Basically, only the device adding works..

[2020-03-15 22:20] kaohlive commented on #51
so you have mfa enabled and while authorizing you received your token and submitted it. then you add you devices and the first few hours it works, but later you get unauthorized in the grab image (easy to test instead of alarms). Alarms no longer work either. Re-authorization enables working again for a few hours.
after these hours you still can complete the add device wizard.

good summary?

[2020-03-15 22:42] Patrick1610 commented on #51
Perfect summary! The ‘add device wizard’ was enough to reauthenticate and get everything working for a while (even grabber).

Any idea what could be the cause of the problem?

[2020-03-15 22:49] kaohlive commented on #51
no, not if you are using the app version from the homey store and not my first fork. Sounds exact the issue i fixed later on and is in the 2.2.2 version.
very strange. there is a timer that checks and refreshes now, before it was after app restart and device adding.
the device adding wizard did not ask you to reauthenticate?

[2020-03-16 13:25] Patrick1610 commented on #51
Yes, I am. I have never installed a fork or anything. I had the previous app. Installed this one and uninstalled that one. Later I even uninstalled the 2.2.2 and reinstalled to check if that fixed the problem :(

Each time I entered the device wizard it asked for authentication

[2020-03-16 13:30] kaohlive commented on #51
then you are loising the refresh token indeed. very strange.

[2020-03-16 14:14] Patrick1610 commented on #51
I have just tried adding a new device again, and it didn’t ask for authentication again, so it seems to work :)

[2020-03-16 20:45] kaohlive commented on #51
ok lets keep track, see if it gets lost again.

[2020-03-17 20:58] Raycokes2000 commented on #46
i hoped v2.2.2 2fa would work properly, but it still does not, there is no input field for the code sent unfortunately

[2020-03-17 21:01] Raycokes2000 commented on #51
i hoped v2.2.2 2fa would work properly, but it still does not, there is no input field for the code sent unfortunately

[2020-03-17 21:03] kaohlive commented on #46
revoke athentication in app settings go to add device select the ring app and get the athentication form, enter yoy credentials press authenticate, get the codr box, enter mfa code. yoy fo not get thr code box in that step?

[2020-03-17 21:10] kaohlive commented on #51
so you revoked the auth in app settings? then went into add device, select ring, a device type and got the new authentication page. enter credentials, press login, get a code entry box enter the just received code into the box and authorize. but you do not get the code box in that step?

[2020-03-17 21:13] kaohlive commented on #51
posys crossed, you wouldn't see a new device if you still have all devices registered, that is not bad. it should work from that point also on those devices. if you removed your r devices from homey you should see them at the end of the wizard. else something went wrong during login.

[2020-03-17 21:13] Raycokes2000 commented on #51
could not even revoke, older version was not auto updated, so did this myself, then got 2 version, so now cleaning up. old flow gone, app gone, reboot homey. now going blank with this app again.
looked like cluster fuck app with app versions.

[2020-03-17 22:11] Raycokes2000 commented on #51
still nothing unfortunatley, after 2fa code, says no new device found

[2020-03-17 22:52] Raycokes2000 commented on #46
continu in https://github.com/denniedegroot/com.ring/issues/51

[2020-03-17 23:03] kaohlive commented on #51
if you can generate a log and send it i coupd take a look. if you go through the add device wizard again, do you have to authorize again or does that step get skipped now?

[2020-03-17 23:12] Raycokes2000 commented on #51
authorize is skipped, allready approved, yoy see shortly that screen then skips and says no new devices found
76a44799-f2cc-43eb-9b0a-0c8d27448069
what does it need to say at apps ring, settings,  my ring authorise here says, error you need to authenticte from add device wizard!

[2020-03-17 23:21] kaohlive commented on #51
so the add device wizard is acting like its properly authorized but you are missing a device that is not present in your homey yet. sinse no device just suggest all your device are added to homey already. without the log i can not help you determine why you are missing devices OR that homey thinks they are already registered (maybe from the old dubble app) but its not an mfa issue as far as i xan

[2020-03-17 23:24] Raycokes2000 commented on #51
ok, but you need logging now? whee is extra logging for you available, you have diag report, and a new issue?

[2020-03-17 23:32] Raycokes2000 commented on #51
in there a way to remove authorisation? can not see that now

[2020-03-18 07:37] kaohlive commented on #51
i am not the app publisher so i get no logs when you send them, not sure how you can share them now.
you should be able to revoke in the app settings. but you stated that screen tells you its not authorized. so something weird is still going on in your deployment. on what homey version are you?

[2020-03-18 22:08] Patrick1610 commented on #51
Well, unfortunately the connection is lost again.. :(

[2020-03-20 22:55] Raycokes2000 commented on #51
@kaohlive sorry for delay, v2.2.2

[2020-03-20 23:04] Raycokes2000 commented on #51
after several reboots, revoked authorisation, but stil after adding nothing happened. is shared user accepted of doet is need to be admin user required? i rather not use such account in homey

[2020-03-21 00:01] Genghes commented on #51
For your information.
I have used the v2.2.2 for several weeks and it works perfectly.
Tried it om two homeys, Pro and Standard.

I Have given it my only Ring login, not a shared, but I dont think that should be an issue.

Be aware that if you have disabled Motion or Ring alerts in the Ring app they will not register in Homey app as well.
(If you hav snoozed or by schedule in Ring app the same goe

[2020-03-21 00:12] kaohlive commented on #51
i am also using my admin account. And you are correct we only store the refresh token and keep the temo access token in memory and no account info is stored at all.

[2020-03-21 00:18] Genghes commented on #51
I also had problems when Ring forced 2FA. But loggin in to Ring.com I saw 2FA NOT ENABLED.
So even if they have forced 2FA on it is NOT ON when you veiw your account information.

After logging in to Ring.com (with 2FA) ?!? and then enabeling 2FA everything worked.

[2020-03-22 00:36] kaohlive commented on #52
Can you run the app with the cli and pm me the json output of the api call that gets logged in the console screen? Ill give it a look. But the MFA thing cant really have changed that. So I think Ring added some more API changes to their API to improve privacy and something like that must be breaking the app logic.

[2020-03-22 00:38] kaohlive commented on #50
I created a pull request for the cameraimage part (but not as bad as above in the example).
However still cant get the stream thing working.

[2020-03-22 00:40] kaohlive commented on #32
I have no way of validating if it will work. I can insert the card and tied it up to the api. Then you need to use the cli to test it. ok?

[2020-03-22 00:45] kaohlive commented on #32
Try my fork, see if it works:
https://github.com/kaohlive/com.ring

[2020-03-22 00:46] kaohlive commented on #29
Can you run the app from the cli and PM me the json output you get. If I can see that json I can determine whats needed to support it.

[2020-03-22 00:49] kaohlive commented on #10
@mhoogenbosch I am willing to give it a go, testing would hopefully at some point turn on the flood cam. I can imagine this might become a bit annoying if I turn on your lights on the wrong moment.
So if you are still ok with inviting me ill give it a go.

[2020-03-22 08:36] kjettern commented on #29
Sorry to say, but I don't have the doorview cam anymore. The product don't fit the thickness of a standard outer door so I had to change it to a regular doorbell. Really stupid design as every door in Norway at least have somewhat the same thickness and will not fit

[2020-03-22 16:52] kaohlive commented on #51
Hi @Genghes , @Patrick1610. @Raycokes2000 , I think I identified when this fails. In case of the grabimage and its receives a not found error the code threats this as a failed authentication reason. Tries to refresh and still gets an error, than it marks the app as unauthenticated.
Ill make some code to handle this scenario as a not found for the grabsnaphot action.

[2020-03-22 17:03] kaohlive commented on #51
Just commited a fix (I think) in my fork. Ill create a new pull request for @denniedegroot
All I did was add a check on 404 to still give an error to the flow card but with resource not found instead of invalid credentials and it does not invalidate the authentication as a next step.

[2020-03-22 18:12] Patrick1610 commented on #51
Amazing you found and fixed the problem!! Just curious, what could be the cause that no snapshot can be grabbed, if the connection/authentication is solid?

[2020-03-22 18:18] kaohlive commented on #51
what i understand from that api its not a trigger to make a snapshot, it just downloads the most recent one after checking for a fresh one. maybe that check should trigger the device to make one not sure. but today it suddenly started to give a 404 on my device, but during debugging those dissapeared again. So it may be something as silly as ring restarting a service or something. or how often you

[2020-03-25 12:06] AdyRock opened #54 "New snapshot view"
I see the place for the new snapshot in the device but it is not refreshing. This maybe that it's not supported for the Ring Pro doorbell.
If it could be made to work that would be great.

[2020-03-25 16:42] AdyRock commented on #54
Ah, I see the displayed image is the one captured by the flow command.
Could it be refreshed by the refresh control like the IP cameras do?

[2020-03-25 17:42] kaohlive commented on #54
Just comitted a new fork that does this actually

[2020-03-25 17:43] kaohlive commented on #50
new version holds a very much improved piece of code on the image stuff

[2020-03-25 17:43] #50 closed

[2020-03-28 23:09] kaohlive commented on #54
@denniedegroot check out the new pull request. It holds a refactor on the camera image code and replaces some deprecated code with current ones.

@AdyRock to make things a bit more relative, it does not tell the camera to make a new snapshot, just refreshes the latest snapshot uploaded by the camera. The grabimage action did that also, so no workaround there.

[2020-03-30 08:16] mhoogenbosch commented on #10
Hi @kaohlive no problem. If you can provide me with your email address to invite you, i'm going to do so.

[2020-03-30 19:07] FrankSmeets01 commented on #52
Hi kaohlive,

The issue with the Stickup Cam is resolved. For some reason the motion-schedule was enabled again!! Now the only issue is the Doorbell Pro that can't be added as the app is telling me 'no new devices found'. The doorbell pro is (like my Stickup cam) granted to my shared-account.

Can you explain how I can run the app via cli?

[2020-03-30 20:42] kaohlive commented on #10
@mhoogenbosch check your pm on the homey community.

[2020-03-30 20:46] kaohlive commented on #52
@FrankSmeets01 As far as I can tell you can not do that on github. You can on the Homey community. Find my post there and then you can message me.
Running the app on cli you need to follow the developer instructions:
https://apps.developer.athom.com/tutorial-Getting%20Started.html
Follow steps **1,2,3** ensure you skip 4!!
Then download the source from my fork or the one from the master by dennie

[2020-03-30 20:50] jeesnl commented on #10
Hi all,

I don’t have floodlights anymore. Zo i can’t help.
Sorry

Kind Renards,
Jan

[2020-03-31 10:25] FrankSmeets01 commented on #52
@kaohlive Homey Community says "you cannot send a personal message to that user" :-(

[2020-03-31 22:50] kaohlive commented on #52
@FrankSmeets01 So I found the issue, your doorbell is part of the authorized_doorbots collection instead of the doorbots collection. The app currently only looks at that doorbots collection. I added that check to the code, no way to validate right now though. Once The current pull gets merged ill commit that version. Together with the floodlight support for stickup cams.

[2020-03-31 22:56] kaohlive commented on #32
thanks to another user I got a change to validate that this feature should work in the comming version.

[2020-03-31 22:57] mhoogenbosch commented on #10
Very cool. By any chance also enables the alarm? Would be nice if that can get triggered by homey as well.

[2020-03-31 22:58] kaohlive commented on #29
@Piddinygaard I think it should work if you try to add it as a stickupcam or as doorbell.
Ring doesnt have other cam types, so try either and see if it works. Else run it from the cli and grab me the log (find me on the Homey forum and send the log as PM).

[2020-03-31 23:01] kaohlive commented on #10
you mean the audio horn? i think so. i can check.

[2020-04-01 07:53] FrankSmeets01 commented on #52
@kaohlive Thx for checking. Weird that only the doorbell is set to the 'authorized_*' collection. Which (I assume) is due to the fact that it's a shared account. I would expect that the stickup cam would also have a different collection as this one is also shared with the account that I'm using for Homey. So doesn't seem very consistent by Ring! Hopefully they will not change that in future!

[2020-04-01 11:07] Airwolf33 opened #56 "Add support for modes"
It will be great to add support for mode like at home or away

[2020-04-01 17:33] kaohlive commented on #10
i tried it am hour ago, not sure if you heard it? also not sure if the turn off worked properly. but ill leave that testing to you 😁

[2020-04-01 17:37] kaohlive commented on #52
maybe, no other device type has this aithorised version. So its a bit weird. I added that collection to the code as doorbell so lets see if that makes them work.

[2020-04-02 14:58] denniedegroot commented on #54
Merged. I think this ticket can be closed?

[2020-04-02 14:58] #46 closed

[2020-04-02 17:01] kaohlive commented on #56
Is that not a non ring feature? Note sure what a home feature is for Ring.

[2020-04-02 17:02] kaohlive commented on #52
In my fork there is a version that should support this now. I created a new pull request for Dennie (sorry for spamming you)

[2020-04-02 17:02] kaohlive commented on #45
I just commit this fix into my fork, new pull request for Dennie

[2020-04-02 17:03] kaohlive commented on #32
Is in the new version that Dennie just merged

[2020-04-02 17:28] Airwolf33 commented on #56
I Got it from yesterday in my Ring App.
I can setup 3 "modes" : "Armed", "Disarmed" and "at home". Each mode have settings to show (or not) motion alerts, live video, etc... With one "click", you can change all your devices settings
I don't have Ring Alarm, only 2 Video Doorbells 2 and 5 Stick up cams.

[2020-04-02 17:32] kaohlive commented on #56
interesting, i do not see that in my app

[2020-04-02 17:33] Airwolf33 commented on #56
![58CDBA32-0516-4D4F-B0CF-137B80459970](https://user-images.githubusercontent.com/54409349/78280078-cdc31300-7518-11ea-8cf2-cc343a9b56e9.jpeg)

[2020-04-02 17:35] kaohlive commented on #56
or i update, see them now also.
damn, i thought i was done 😅.

but well have to find some endpoints for that feature. ill keep an eye on the community

[2020-04-02 17:37] kaohlive commented on #10
@mhoogenbosch, i just updated my fork with these features. so ready to test

[2020-04-02 21:59] Raycokes2000 commented on #51
2fa is no problem here anymore, rebooted several times and used admin account/main user accont and now it works but 2.2.3 is not workingen properly my flow do not work after this update

[2020-04-03 06:14] kaohlive commented on #51
what 2.2.3 version did you take, the one from the test link or from github and installed using cli?
i see no reason why your flows might have stopped, some people reported that ring disabled alerts. check to see those are active please

[2020-04-03 12:41] mhoogenbosch commented on #10
Super! Unfortunately i'm going troughe some troubling times and am in the middle of moving. My homey has been offline for 2 weeks now. I'm planning to get everything up and running by next week saturday and will test imidiately.

[2020-04-03 16:56] Kingster2 opened #58 "Error when executing flow"
When executing a flow the following error is desplayed. What am I doing wrong,

![01B49DB7-C6FD-4D2B-AC45-7A7E7219CADB](https://user-images.githubusercontent.com/30865332/78385859-d7ae4a00-75dc-11ea-9025-4ed5b4511125.jpeg)

[2020-04-03 18:19] FrankSmeets01 commented on #52
@kaohlive  If tested the version in your fork and the doorbell (with device type "authorized_doorbots") is now added to the Homey and works like a charm.
Also the imagegrabber for the stickup cam works now.

Thx a lot for the good work.

Now let's await to have it in the official version from @denniedegroot .

[2020-04-04 20:59] Kingcool88 commented on #56
Yeah this feature would be very nice to have!

[2020-04-05 18:43] erwinvang opened #59 "Error picking up and sending ring screenshot"
![643866E8-AB41-4F16-8488-2CA503BD3FB8](https://user-images.githubusercontent.com/63206242/78506969-a6b94b00-777d-11ea-8d89-08b61e174270.png)

I want ring to grab screenshot when doorbell is pressed. And than push it to my phone.

It seems to work once or twice but after that i get attached error. Have you seen this error? Do you know where I should look? I confirmed the 2 step verificarion  alrea

[2020-04-06 10:08] mhoogenbosch commented on #10
Set everything up this morning and I can confirm it is working like a charm! Would be cool if you could add 'buttons' for both sirene and light in the device page, but with the flows it works! Really much appriciated!

[2020-04-06 10:42] kaohlive commented on #10
there should be buttons, with a selection to choose between siren and light. If not, restart the app or add the device again.
else send me the logging, cause i do some smart check if tge cam has these or not before i add the buttons

[2020-04-11 12:50] kaohlive commented on #59
No, very strange indeed if it works a couple of times.
What it tells us is that the access token we get from the MFA process is not valid for this resource. The resource in this case being the API we call. So it almost seems that the code is sending a refresh token or access token that is not generated by the ring api. But can only be the case if you pasted one directly into the settings using the

[2020-04-11 12:51] kaohlive commented on #58
Same issue as #59 please check my reply there.

[2020-04-11 13:25] Kingster2 commented on #59
I didn’t get a email from ring. For now I had to remove the doorbell in Homey and reinstall, because this is the only way to reauthenticate. All attached flows had to be updated. Now it works for a few days without problems.

Before we could reauthenticate in the app settings without the need of updating flows. Is there a way to easily reauthenticate. Probably most users need to reauthenticate onc

[2020-04-11 13:41] kaohlive commented on #59
@Kingster2 you actually still can. You should not have to remove the device. You can just use the revoke button in the settings and then go through the add device, authenticate wizard. If you did not removed the device it should just say that there are no new device but it should have a fresh token.

I know the current wizard is not all that intuitive, but it was my only way to solve the more comp

[2020-04-11 14:09] Kingster2 commented on #59
Okay, next time I’ll try the revoke button. Last time it didn’t do what I expected, so the ‘easy’ way was to remove the device.

For now thankx for your work. Kindly appreciated.

[2020-04-12 17:38] erwinvang commented on #59
Now it seems to remember me. I reentered login details.
![16D01C40-8C54-4678-86E4-1CD10A301744](https://user-images.githubusercontent.com/63206242/79075798-3b2f2a80-7cf5-11ea-8849-8fc6e6841700.png)
![Uploading BE88BA4D-6127-44AA-8C30-0C6D0EA0C88F.png…]()

However, ring does not seem to activate general alarm on pushing the ring doorbell. Any ideas how to fix it.

[2020-04-12 17:39] erwinvang commented on #59
![364E8538-06C3-49D1-B01D-CBEB931D3A7C](https://user-images.githubusercontent.com/63206242/79075813-56019f00-7cf5-11ea-987e-62837fc943bb.png)

[2020-04-13 15:31] kaohlive commented on #59
Not receiving events in generally a enable the event again (using the ring app or the workflow action from Homey). Some people reported that the ring events seem to get disabled at random moments.
But that is really hard to debug seems that is an Ring api thing.

[2020-04-13 15:33] #54 closed

[2020-04-13 16:30] dwillemsen commented on #43
I am having the same issue. I can't set the motion detection on the stick up camera. It says that the device is not found

[2020-05-25 17:00] FrankSmeets01 opened #60 "Ring Doorbell 3 not triggering motion events anymore"
I have a Ring Doorbell 3. I've added it to Homey with the Ring App V2.3.0.
I was able to add it and when opening the device I can see the snapshot.
But motion alerts are not recongnized. Any idea?

[2020-06-05 10:02] Patrick1610 opened #61 "Ring keeps losing connection"
Ring seems to keep losing connection with Homey. After pairing again, it works for a few days but eventually it loses the connection
![221B88F6-A2D5-4EC6-899F-C526AD2DFB7A](https://user-images.githubusercontent.com/6585375/83863986-68f88480-a724-11ea-934a-61f8102111b5.png)
![7416E183-34A6-445C-B85E-4702CEAECF63](https://user-images.githubusercontent.com/6585375/83863994-6ac24800-a724-11ea-90a9-80c

[2020-06-09 13:24] #52 closed

[2020-06-09 13:25] FrankSmeets01 commented on #52
Fixed in V2.3.0. Thx.

[2020-06-20 20:30] FrankSmeets01 commented on #60
It seems when I disable the doorbell in the Ring app and then enable it again, I do see motion event in Homey. This lasts only some time and then it stops again. Any idea?

[2020-06-21 19:25] FrankSmeets01 commented on #60
I've added the log below. I see that 'subscribed-motions' = false. Is this something within the Ring API? In the Ring app I have it turned ON.

@denniedegroot @kaohlive do you have any idea?

2020-06-21 21:08:02 [log] [ManagerDrivers] [doorbell] [1] _syncDevices {
  doorbots: [],
  authorized_doorbots: [
    {
      id: 46076203,
      description: 'Poort',
      device_id: '......', REMOVED

[2020-08-21 21:20] oksdol opened #62 "Add support for Ring Alarm Keypad"
Supoort for this device would have been awesome since I am using Homey and the app Heimdall as a security system.

https://shop.ring.com/products/alarm-keypad-v2

[2020-08-24 19:04] Tottemannen opened #63 "Ring doorbell 2"
The app does not work anymore.

[2020-08-24 19:08] mruiter commented on #63
Don’t you think the developers needs some more info on what doesn’t work before he can look into it ?

Does it crash . What does the crash report say can’t you get the 2fa to bind . Or did you’re homey  die and none of the apps work ?

[2020-09-14 08:26] matt20v opened #64 "Support for Ring Indoor Cam"
Hi just wondering if there will be support soon for the new Ring Indoor Cam,
I managed to get it to connect to Homey as the stickup cam but I think there are some differences.

Anything I can help as far as Info please let me know.

[2020-10-02 12:11] FrankSmeets01 commented on #60
@denniedegroot @kaohlive Is one of you still working on the Ring-app for Homey? Just asking :-)
FYI: The Doorbell 3 integrates fine with IFTTT, so I don't think this is due to an issue at Ring side.

[2020-10-02 16:16] kaohlive commented on #60
well i did not abbondon it, but time is very rare.

i would try to make a enable motion flow. this seems to solve it sometimes

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: FrankSmeets <notifications@github.com>
Sent: Friday, October 2, 2020 2:11:28 PM
To: denniedegroot/com.ring <com.ring@noreply.github.com>
Cc: kaohlive <kaoh@kaoh.nl>; Mention <mention@no

[2020-11-17 20:54] Munnikie commented on #64
I have the indoor cam also. I added it by using the stick up cam device. Works great.

[2020-11-17 20:57] Munnikie commented on #43
I have the same problem. But my problem, it does not say that the device is not found. It just does not enable/disable motion detection.

[2020-11-17 20:57] matt20v commented on #64
@Munnikie  Thanks Yes i also did that as well its just it didn't respond to some of the commands i.e turn off and on motion alerts, or is that a limitation of the Ring product line itself ?

thanks!

[2020-11-17 21:00] Munnikie commented on #64
It also does not work on my ring video doorbell pro, so I think it’s a product/app problem.

[2020-11-17 21:01] matt20v commented on #64
@Munnikie well thank you for clarifying that now i know its not a specific device problem :)

Have a great day!

[2020-11-22 18:40] SA-00101 opened #65 "Not working anymore"
The ring app is very good, but since 17 days it stopped working. I do not get any new signals from the ring doorbell and cameras anymore in my Homey. Can you please fix this?

[2020-11-23 21:07] Tottemannen commented on #65
Try to uninstall the app and install it again and see if it works.

[2020-11-24 11:10] SA-00101 commented on #65
Het werkt inderdaad weer. Super. Bedankt voor je snelle reactie.

Groet,
Sjoerd

________________________________
From: Tottemannen <notifications@github.com>
Sent: Monday, November 23, 2020 10:08:08 PM
To: denniedegroot/com.ring <com.ring@noreply.github.com>
Cc: SA-00101 <sjoerdarntzen@gmail.com>; Author <author@noreply.github.com>
Subject: Re: [denniedegroot/com.ring] Not working anymore (#65)

[2020-11-24 17:00] Munnikie commented on #43
@denniedegroot I can see that some issues are open for a while now. Are you still committed to this repository?

[2020-11-29 13:09] dbuekenh commented on #65
Same problem for me.

From 19/10/2020 its not working anymore. Deinstalling will break all the flows.

What is the issue?

6cb4fd7d-a072-4bc6-9580-83c6390c71ea

Rgds Dirk

[2020-12-21 22:26] jooprooding opened #66 "Ring Alarm support would be a great addition"
Ring alarm, including all the sensor triggers could add much value to the homey home automation for me.

[2020-12-23 09:54] Razfaz72 commented on #66
I would be happy too. I would also really appreciate the support from the door and window contacts.

[2021-01-05 09:45] Karlglad commented on #56
@kaohlive I'm not sure if this can be to some help?

https://github.com/dgreif/ring

[2021-01-18 10:27] Yvarladze commented on #66
Hi Dennie,
I was curious if we can expect the possibility that the ring status can be changed to away and home via homey. I am looking for a solution to automatically switch the cameras on and off because my parents do not want me to be able to watch in the living room, but only when they need help.

[2021-01-21 15:40] Dav1dNL commented on #56
@denniedegroot and @kaohlive

I would also like to have the mode change option built in.

As a workaround I now use the ring plugin on homebridge, linked to my Homey. But it would be nice if it could be done directly with Homey.

I am not advanced in programming Homey apps, but the code in the link below may help you build this feature:

https://github.com/dgreif/ring/blob/master/homebridge/locati

[2021-01-21 15:49] Dav1dNL commented on #66
@denniedegroot and @kaohlive

I would also like to have the mode change option built in.

As a workaround I now use the ring plugin on homebridge, linked to my Homey. But it would be nice if it could be done directly with Homey.

I am not advanced in programming Homey apps, but the code in the link below may help you build this feature:

https://github.com/dgreif/ring/blob/master/homebridge/locati

[2021-02-12 09:25] PortoNL commented on #43
Bump! I'm Having this issue aswell.

[2021-02-12 09:26] PortoNL commented on #56
Bump! Can someone look at this?

[2021-02-13 13:04] dbuekenh opened #67 "Update for homey 5"
I recieved a notification that this ring app will not work anymore with v5.0. Any plans for an updated ring app?

[2021-02-13 14:35] mruiter commented on #67
Works flawlessly here on v5 . Guess its something else then the v5 that doesn’t make it work at some users

Verstuurd vanaf mijn iPhone

[2021-02-13 14:35] mruiter commented on #67
Picture tags also

Verstuurd vanaf mijn iPhone

[2021-02-13 14:57] mruiter commented on #67
![Uploading 26CB1937-59A7-4425-86FB-B9824E3E99FC.png…]()

[2021-02-13 14:57] mruiter commented on #67
![7637FC6D-CF95-46E3-97F9-FD8FEFD5C8B0](https://user-images.githubusercontent.com/17739535/107853058-39059300-6e14-11eb-8e7a-273c0d9611cd.png)

[2021-02-13 14:58] mruiter commented on #67
![EA2FB8DF-9A63-492E-ACA0-900B857DA3BB](https://user-images.githubusercontent.com/17739535/107853076-47ec4580-6e14-11eb-88ff-74721299c85e.png)
![9F88AEB2-BA1E-4C96-B829-DB00813F8625](https://user-images.githubusercontent.com/17739535/107853081-4c186300-6e14-11eb-842f-df258a6fc888.png)

[2021-02-26 11:08] oksdol commented on #66
I would also highly appreciate support for Ring Alarm. It seems to have the best looking alarm keypad. Any thoughts on if we can expect support for it in this app?

[2021-03-12 09:40] tokreutz commented on #43
Having the same problem

[2021-03-12 11:38] tokreutz commented on #56
This would be a very good addition! I am also thumbs upping this!

[2021-03-19 16:11] papounet-git opened #68 "Support of mode"
Hello,
Unless I missed something, Ring App allows to enable motion control per individual devices, but doesn’t allow to activate a Mode, which triggers action on the whole set of devices.
Could you please confirm?
Thanks
Guillaume

[2021-03-28 20:52] edwinvdpol commented on #67
I also have trouble with the app. The general alarm does not trigger when pushing the doorbel button.
I cannot select the image when I try to send a push notification with image.

I will try to find out why this is locally.

[2021-03-28 21:47] edwinvdpol commented on #67
Well, after installing it a few times locally it started working. I can select the snapshot as well. I do not know what went 'wrong' exactly. I did leave my settings on Homey when installing the live version again.

[2021-03-30 09:46] edwinvdpol commented on #59
I got an empty snapshot when I send it to my phone.

<img src="https://user-images.githubusercontent.com/9265514/112968997-212c6900-914d-11eb-84f4-80a886bc5598.jpg" width="300">

I noticed that it can take a while to fetch the snapshot (hold button doorbell in Homey), or (a lot) the snapshot does not refresh at all.

Cannot pinpoint the exact issue. I guess the Ring API has it's flaws. Responding

[2021-03-31 00:16] edwinvdpol opened #69 "Possible explanation weird behaviour"
Hi guys. I have been browsing the Homey forum about the issues with the doorbell. Some Can take a snapshot, Some can't etc.

When searching for some kind of solution, I came along a repository with this interesting code:

https://github.com/dgreif/ring/blob/master/api/ring-camera.ts

When reading this code, quit a few things became clear to me. For example:

- Motion detection has to be enabled fo

[2021-04-01 17:51] tokreutz commented on #68
This is the case (although enabling/disabling motion control is not working properly for stick up cams, I want to look into fixing that).
I am currently looking into how to add support for modes, and will hopefully get a PR for that in the not too distant future. I am not familiar with Homey app development yet, so will have to learn that as I go.

[2021-04-01 17:56] tokreutz commented on #43
I am working on a fix for this. Not sure about what device «kinds» are affected by this though. My stickup cam (battery) is of kind «cocoa_camera» and is not working. I know how to fix it for this kind, but I don’t have devices to confirm for any other types.

What cams does every one else on the thread have? Battery, wired, etc.?

[2021-04-02 04:30] papounet-git commented on #68
Thanks, it would be a real plus if the app would evolve in that direction. Good luck and keep us posted.

[2021-04-09 05:39] tokreutz commented on #68
@papounet-git
In my fork of this app I have a working version of modes: https://github.com/tokreutz/com.ring/tree/f/mode-device
I hope to get my PR on a fix for motion detection for stickup cams in first, as the modes support is based on that branch.

If you want you can test the mode support using the above branch to validate that it works as expected.

[2021-04-09 07:20] Airwolf33 commented on #68
Hello ! I have tried your app, but I got an error when I try to change mode : "invalid_authentication 400 Not allowed to use this api to change mode"

[2021-04-09 07:55] tokreutz commented on #68
Interesting. Let me check if i have missed anything.

Thanks!

[2021-04-09 08:11] tokreutz commented on #68
@Airwolf33  It works very well for me, so not sure what the problem might be.
Can you describe the actions you made to get this error? was it enable/disable modes, or changing the mode values, or both?
Are you able to get the mode values synced in Homey when you change them in the app?

It might be the host I'm currently using for changing modes, which is 'prd-api-us.prd.rings.solutions'. which re

[2021-04-09 08:17] Airwolf33 commented on #68
@tokreutz It happens when I try to change mode using Homey, from disarmed to armed for exemple.
The mode values are synced with homey. If I arm Ring using Ring App, it is armed in homey. But I can't change the mode using homey, it shows the error message above.
I live in France.

[2021-04-09 08:20] Airwolf33 commented on #68
If it can help, I also use Homebridge ring app to change mode using Apple Homekit, and it works well. I use it as a workaround... But if it can works directly with homey, it will be great !

[2021-04-09 08:37] tokreutz commented on #68
Thanks for the tip on homebridge! I had a look at the homebridge codebase and found the correct uri for the mode apis. I have puseh an update that works for me, and hopefully works for you as well :)

[2021-04-09 08:49] Airwolf33 commented on #68
@tokreutz Same error message for me :-(

[2021-04-09 08:52] tokreutz commented on #68
@Airwolf33 , are you sure? it should be sending the same requests as the homebridge app, so that is strange indeed. Can you double check that you pulled the latest from the branch, and that perhaps that the code references the 'app.ring.com' uri in \lib\Api.js?

[2021-04-09 09:06] Airwolf33 commented on #68
Yes, I think I have the latest from the branch... In \lib\Api.js I have Static ComRingApp = "app.ring.com" line 27...
I have deleted Ring App from homey and re-install it, created a new Device "Modes", put my id and password, my 2-fact code... and same error message : invalid_authentication 400 {"error":999005,"msg":"Not allowed to use this api to change mode"}

[2021-04-09 09:36] tokreutz commented on #68
@Airwolf33 , I did a minor change and added some log details. can you try one more time?
Not sure why you are seeing this error, and not sure what it means. Why Homebridge is allowed to use this API, and Homey is not is unclear to me. The requests should be the same.

[2021-04-09 09:43] Airwolf33 commented on #68
@tokreutz Same error, same message...

[2021-04-09 11:50] tokreutz commented on #68
@Airwolf33 , are you allowes to disable the mode from homey using the onoff button?
And if so, can you enable it again?
And if so, can you now switch modes?

[2021-04-09 11:56] Airwolf33 commented on #68
@tokreutz Yes I can enable / disable the mode using on/off button (but nothing happens when I switch it)
I have tried to disable and enable it again, same error when I try to switch modes (Bad Request 400...)

[2021-04-09 12:18] Airwolf33 commented on #68
@tokreutz if it can help, I use Ring doorbells, Stick up cams, but also Ring Alarm.
Maybe the fact that I use Ring Alarm is a clue...
But with Homebridge it works... for cams and Ring Alarm...

[2021-04-09 13:03] tokreutz commented on #68
Are you the "owner" of the home location? Put differently, is it your credentials that operate the Homebridge integration, or has the home location been shared with you, and your user is not permitted to change mode like that..?

Im not sure how Ring authorization works :/

[2021-04-09 13:06] Airwolf33 commented on #68
@tokreutz Yes I am the "Owner" of the home location, the "admin" !
And I use same credentials in homebridge integration...
Sorry, it doesn't help a lot !

[2021-04-09 17:55] tokreutz commented on #68
@Airwolf33 , I have a feeling that it has to do with the Ring Alarm security panel. I see that the Homebridge app handles that type of communication, but that is far too complex for me to do without a device. Maybe the best approach is to make use of the same ring library that Homebridge uses in the Homey app, but that is also quite a lot of work. I can't guarantee that I will start that journey a

[2021-04-09 18:30] Airwolf33 commented on #68
@tokreutz Ok ! Thank you for your help !

[2021-04-12 17:28] tokreutz commented on #68
@Airwolf33 , I couldn't help myself. I implemented modes using https://github.com/dgreif/ring (the ring api implementation used in Homebridge), and I think I have added support for mode when also having an alarm station active on the location. I can't validate it properly since I don't have an alarm, can you give it a go?

I have added the npm dependency to the project, so you will have to run `np

[2021-04-12 17:47] Airwolf33 commented on #68
@tokreutz Great ! I will try it tomorrow !
Just a question for npm (I am a newbie !!) : under windows terminal i type « npm i --only=prod homey » once Ring app is installed ?

[2021-04-12 18:05] tokreutz commented on #68
I assume you install the app using the homey cli (as described here https://apps-sdk-v3.developer.athom.com/tutorial-Getting%20Started.html) .
You need to run `npm i --only=prod` only once, and before you run either `homey app install` or `homey app run`.

[2021-04-13 05:57] Airwolf33 commented on #68
@tokreutz Here is the result : When I try to add "modes" device in homey, it ask for my credentials and 2FA code. Then it show "looking for device" and nothing happens until "timeout after 3000ms".
Try again : credentials are stored, so it only show "looking for device" and "timeout after 3000ms"

[2021-04-13 11:45] tokreutz commented on #68
@Airwolf33 I made some updates, can you try again?

[2021-04-13 11:53] Airwolf33 commented on #68
@tokreutz Same as this morning, timed out after 3000ms

[2021-04-13 11:55] tokreutz commented on #68
@Airwolf33 , if you install the app using `homey app run` there will be some errors in the logs that can help identify what the error is. Are you able to try that and come back with the errors?

Thanks again for testing this out :)

[2021-04-13 12:07] Airwolf33 commented on #68
@tokreutz
com.amazon.ring running...
2021-04-13 13:58:08 [log] [ManagerDrivers] [doorbell] onInit
2021-04-13 13:58:08 [log] [ManagerDrivers] [chime] onInit
2021-04-13 13:58:08 [log] [ManagerDrivers] [stickupcam] onInit
2021-04-13 13:58:08 [log] [ManagerDrivers] [mode] onInit
_verifyAuthentication
_authenticate
_https_auth_mfa_refresh
_https_auth_mfa_refresh: update cached refresh token for later u

[2021-04-13 12:08] Airwolf33 commented on #68
@tokreutz mode is created, but not synced with Ring App, and when I try to change mode, I got "Response code 4001 (Bad Request)

[2021-04-13 12:20] tokreutz commented on #68
@Airwolf33 , I added some more logging, can you do the same experiment again?

[2021-04-13 12:38] Airwolf33 commented on #68
@tokreutz

com.amazon.ring running...
2021-04-13 14:35:53 [log] [ManagerDrivers] [doorbell] onInit
2021-04-13 14:35:53 [log] [ManagerDrivers] [chime] onInit
2021-04-13 14:35:53 [log] [ManagerDrivers] [stickupcam] onInit
2021-04-13 14:35:53 [log] [ManagerDrivers] [mode] onInit
_verifyAuthentication
_authenticate
_https_auth_mfa_refresh
_https_auth_mfa_refresh: update cached refresh token for later

[2021-04-13 12:39] Airwolf33 commented on #68
@tokreutz at the end I have tried do change mode from "Blank" to "DISARMED" using homey app, but got Error 400

[2021-04-13 13:05] tokreutz commented on #68
I found something based on the logs that might cause this behavior. Can you try again, and then if you still get an error, please share the logs so that I can debug again.

[2021-04-13 13:16] Airwolf33 commented on #68
@tokreutz  New error : When I try to change mode : Unable to set location mode

_https GET api.ring.com /clients_api/dings/active null
2021-04-13 15:14:23 [log] [ManagerDrivers] [mode] [0] onCapabilityHomeAlarmState: partially_armed
2021-04-13 15:14:24 [log] [ManagerDrivers] [mode] [0] refreshMode disarmed
2021-04-13 15:14:24 [log] [ManagerDrivers] [mode] [0] refreshMode disarmed
setMode currentMo

[2021-04-15 15:45] tokreutz commented on #68
@Airwolf33 , are you willing to try again? I found a bug that might be the cause.
Thanks.

[2021-04-15 15:53] Airwolf33 commented on #68
@tokreutz WE GOT IT !!!
It works !! Thanks a lot !!

[2021-04-15 16:00] tokreutz commented on #68
Great! Then I know what to do to get a PR ready ;)

Thanks again for testing this out 😊

[2021-04-15 16:01] Airwolf33 commented on #68
@tokreutz Just one thing : I can change mode using Homey. It's ok. And in Ring App mode is synced. But if I change mode using Ring App, it is not synced in Homey.

[2021-04-20 17:37] tokreutz commented on #68
@Airwolf33 , I have attempted to get the alarm state using the Ring Alarm base station in a new update to my branch, and I hope I got the API right (sort of writing in the blind with no device on my own). I hope you can help out testing this one again?

Regardless if it works or not, I will be very interested in the logs for this version.

Thanks.

[2021-04-20 18:23] Airwolf33 commented on #68
@tokreutz Same as before : I can change mode using Homey. It's ok. And in Ring App mode is synced. But if I change mode using Ring App, it is not synced in Homey

com.amazon.ring running...
2021-04-20 20:19:02 [log] [ManagerDrivers] [doorbell] onInit
2021-04-20 20:19:02 [log] [ManagerDrivers] [chime] onInit
2021-04-20 20:19:02 [log] [ManagerDrivers] [stickupcam] onInit
2021-04-20 20:19:02 [log] [M

[2021-04-20 18:57] tokreutz commented on #68
Pushed an update. Care to try again? Sorry for the back and forth :)

[2021-04-21 06:40] Airwolf33 commented on #68
@tokreutz Same as before, its not synced Ring -> Homey, but its ok Homey-> Ring

2021-04-21 08:35:03 [log] [ManagerDrivers] [mode] [0] refreshAlarmMode {
  acStatus: 'ok',
  adapterType: 'none',
  batteryStatus: 'charged',
  catalogId: 'ID',
  categoryId: 31,
  commStatus: 'ok',
  commandTypes: {
    'hub.action': { requiresTrust: false },
    'hub.check-cellular': { requiresTrust: false },
    'h

[2021-04-21 06:59] tokreutz commented on #68
Thanks @Airwolf33 , posted another update.

[2021-04-21 08:33] Airwolf33 commented on #68
@tokreutz Same as before

2021-04-21 10:28:13 [log] [ManagerDrivers] [mode] [0] none
2021-04-21 10:28:13 [log] [ManagerDrivers] [mode] _refreshLocationsDevices
2021-04-21 10:28:16 [log] [ManagerDrivers] [mode] _refreshModeDevices
2021-04-21 10:28:16 [log] [ManagerDrivers] [mode] [0] refreshModeDevice use_alarm_mode
2021-04-21 10:28:16 [log] [ManagerDrivers] [mode] [0] useAlarmMode use_alarm_mode
2

[2021-04-21 08:46] tokreutz commented on #68
Thanks @Airwolf33 , pushed yet another update.

[2021-04-21 09:57] Airwolf33 commented on #68
@tokreutz Same as before.
To test, I do : In Homey -> change mode to Partially Armed -> Check in Ring app if it's Partially Armed.
If Yes : Disarm in Ring App - > Go to Homey to check if it's disarmed.
If it's not synced in homey : Disarm in Homey (but it does nothing as it was previously disarmed by Ring App)

2021-04-21 11:52:03 [log] [ManagerDrivers] [mode] [0] none
2021-04-21 11:52:03 [log] [M

[2021-04-21 10:09] Airwolf33 commented on #68
@tokreutz here are the logs when the app start :
[Log.txt](https://github.com/denniedegroot/com.ring/files/6349981/Log.txt)

I'm Sorry but I have to change my ID's with "ID" for privacy. If you want the unmasked log, maybe it's better to go private.

[2021-04-21 10:52] tokreutz commented on #68
@Airwolf33 , I need more of the logs actually. Where can I reach out to you in a more private channel? Are you part of the Homey Slack? https://slack.athom.com/

[2021-04-21 14:22] tokreutz commented on #68
@Airwolf33 , we'll follow up by mail.

[2021-05-02 11:11] LeandroVeldhuis commented on #68
Hi @tokreutz , I am also trying to use your implementation of the modes, but I am having one of the first issues that @Airwolf33 was having. App installs fine, but when I try to find for the 'Alarm Mode' device, I get a Time Out 30000ms.

In the console it doesn't say much more than this:
2021-05-02 13:05:51 [log] [ManagerDrivers] [mode] _refreshModeDevices
_refreshDevice
_https GET api.ring.com /

[2021-05-02 11:14] Airwolf33 commented on #68
@LeandroVeldhuis Hi ! Try to restart the app. If it don’t work, try to add a doorbell or a stick up cam. Even if you finally don’t add the cam or the doorbell, try to add mode after that.

[2021-05-02 11:27] LeandroVeldhuis commented on #68
@Airwolf33 ooh wow that did the trick! It works great, thank you!
Alarm modes now also seem to sync between the Ring app and Homey, awesome.

[2021-05-04 04:29] papounet-git commented on #68
Hello,
Is the new app version already released or is it still only in test for developers ?
Thanks
Guillaume

[2021-05-09 07:47] marcel-1984 opened #71 "Geen connectie tussen Homey en ring alarmsysteem"
Beste,

Kan er gekeken worden of het ring alarm
Systeem toegevoegd kan worden aan de ring app in de Homey applicatie? Dit zou heel fijn zijn.

[2021-05-09 08:31] mruiter commented on #71
Ik weet dat ring connecties naar ring deurbellen “ gedoogd.
Ze doen er niet geheimzinnig over dat niet gecertificeerde connecties zoals de honey app naar ring security/alarm via hun api direct met een ban worden beloond .

Logische ook vóór een alarm systeem dat bepaalde certificaten heeft voor veiligheid.

Je kan iig via ifttt de koppeling maken . Kan je gewoon beide synchroon laten lopen .

Of g

[2021-05-12 17:55] tokreutz commented on #68
@papounet-git , I haven't had the time to create a PR for this functionality, so this is so far only in test on a separate branch in my fork of this project.

[2021-05-14 12:31] #43 closed

[2021-05-20 16:48] biginski commented on #66
Also the question to add support for RingAlarm.
In the latest version there is also support for floodlight and sirene, but it is not possible to make a flow which reads the status of the sirene. That would help to make a workaround for alarm situaties of RingAlarm and putting all the lights on (for example).
Thanks for your great work. Regards.

[2021-06-16 09:01] marindal opened #73 "Error snapshot"
Snap shot doesn't work anymore. Invalid_content_type. Homey 7.0.0
Ring Doorbell pro.

[2021-06-22 09:26] MvKl opened #74 "Ring v3 plus"

[2021-06-22 19:38] kaohlive commented on #56
I am going to pick this one up soon again. Got me some additional Ring devices that make sense to support modes for.

[2021-06-22 19:48] kaohlive commented on #66
I will check out if a event for an active siren is something we can support.

For the Ring Alarm hardware, I see plenty of examples and it does not look to hard to support. But I do not own the Ring Alarm part, only the cams/doorbell part. So its impossible to do any testing. That makes it very repetitive to build it blind, ask for test results and fix my bad coding till it starts to work. That's

[2021-06-22 19:53] Airwolf33 commented on #66
The branch from @tokreutz is working well with Ring Alarm.
I use it everyday to change modes of my Ring Alarm (Armed / Disarmed / At Home)
If it can help…!

[2021-06-22 19:55] kaohlive commented on #66
he should ask dennie to merge then

Get Outlook for Android<https://aka.ms/AAb9ysg>

________________________________
From: Airwolf33 ***@***.***>
Sent: Tuesday, June 22, 2021 9:53:33 PM
To: denniedegroot/com.ring ***@***.***>
Cc: kaohlive ***@***.***>; Mention ***@***.***>
Subject: Re: [denniedegroot/com.ring] Ring Alarm support would be a great addition (#66)

The branch from @tokreutz<https://g

[2021-06-22 20:00] biginski commented on #66
I understand.For me personal it would be great to read the status of the cam alarm.I programmed the Ring alarm so it will also activate the alarm of the camera's.If i can read the status of that alarm i can use it to put all lights on for example.Regards, Ebo.Verzonden vanaf mijn Galaxy
-------- Oorspronkelijk bericht --------Van: kaohlive ***@***.***> Datum: 22-06-2021  21:49  (GMT+01:00) Aan: "d

[2021-06-26 20:34] kaohlive commented on #56
In my fork you can now find a new version with Location mode support.
It is based on the action cards, on app level you can find a trigger, condition and action card to interact with the modes.
They all provide the Ring locations you have to select from, so it should cover all.

Also added support for a alarm status for a cam that is linked to the siren status. Also removed the link between the ti

[2021-06-26 20:35] kaohlive commented on #66
In my fork you can now find a new version with Location mode support.
It is based on the action cards, on app level you can find a trigger, condition and action card to interact with the modes.
They all provide the Ring locations you have to select from, so it should cover all.

Also added support for a alarm status for a cam that is linked to the siren status. Also removed the link between the ti

[2021-06-27 14:52] biginski commented on #66
Hi!

Sorry, but I don’t understand this.
I don’t know what a “fork” is. I’m not that familiar with it. Know how to use the Homey and to make flows …..
Can you help me more specific or do I have to wait for an update to make a flow who reads the alarm status of the cam?

Thanks and regards,
Ebo

[2021-06-27 14:53] kaohlive commented on #66
Than you have to wait till dennie releases it to homey directly.

[2021-06-27 14:58] denniedegroot commented on #66
You can now install the test version: https://homey.app/a/com.amazon.ring/test/

[2021-06-27 14:59] kaohlive commented on #66
Now thats quick! Thanks dennie!

[2021-06-27 15:00] denniedegroot commented on #66
@kaohlive and thank you for your work!

[2021-06-27 15:22] biginski commented on #66
Great. Thanks!

[2021-06-30 19:39] tokreutz commented on #66
Sorry for not being very active lately, but this location mode support is not the same as the Ring Alarm support. Supporting the Ring Alarm is more complicated, and I have a suggestion below on how to do that.

I was hoping to spend more time on this app, but I have had other matters to attend to. I suggest that we evolve the app using dgrief/ring api repo, as that has all the functionality we eve

[2021-06-30 19:46] kaohlive commented on #66
i checked your fork, very interesting to implement that api indeed. but for me this location mode was a couple of hours work and kept the lightweight.
i also do not have the time to rebuild it based in that api.
the quick test i did, i noticed it bloated the app from small to huge. not sure if thats caused by that api or something else.

[2021-06-30 19:53] tokreutz commented on #66
Yes, just supporting location mode took me a couple of hours as well :)
I tried integrating with base station since one of the app users here said it wasnt working for him, and I ended up using the ring api in order to do so.

The app grew to about 15MB due to the ringapi lib, and that was the only downside I could see.

[2021-07-07 12:44] mhoogenbosch opened #76 "Support for Geofence"
Recently Ring has added a functionality to support geofences. Would be cool if we could enable this to set location inside homey. Seems to work reliable.

[2021-07-11 11:07] AvanderA opened #77 "Ring videodoorbell pro 2"
Does de app works with videodoorbell pro 2?

[2021-07-24 19:17] PeterKawa commented on #73
What was your solution?
Tia.

[2021-07-28 20:24] Didiervu91 opened #78 "More chime sounds"
Hi,

Is it possible to integrate an extra flow card for the Chime to start the motion sound? That way we could make different flows to sound an alarm when something occurs.

Example: https://github.com/dgreif/ring/blob/master/examples/chime-example.ts

[2021-08-09 06:45] newatschoen opened #79 "Ring Chime stops working on homey after a few days"
Looks like an 2fa authorisation token issue - when I revoke the autorisation it works for a while (a few days?)

[2021-08-09 09:27] m3ngi3 commented on #79
Ringing door bell has not been triggering flow since a few day.
Cannot find any documentation on reauthenticating ring door bell or revoking authorisation.
Can you give some more info on what you are doing to troubleshoot @newatschoen ??
Thanx!

[2021-08-10 16:48] gy1977 opened #80 "Detection Not Working"
None of my cameras are sensing motion. This worked fine until yesterday. I’ve deleted the app, installed again and authenticated again but no change.

My ring app still works fine.

Can you help.

[2021-08-10 19:18] MartenWihlborg commented on #80
I have the same issue with Ring Doorbell Pro. Motion is registered in doorbell but not by Homey/app.

[2021-08-11 21:12] Fusionyx-SVoskamp commented on #80
Had the same problem I revoked authentication then changed mfa to auth app and readded a doorbell authenticated with username password and mfa code them canceled. After that everything started to work again

[2021-08-13 09:49] Xtince commented on #80
I also have the same problem. But not only detection. The Ring app doesn't register the Alarm signal either. The only thing is working, is the camera when i log-in in the app on Homey. It doesn't work in a flow.

Tried above solution, but didn't work. Tried it in v2.3.2 of the app and also in test version v2.4.0.

Does someone has a fix/solution?

[2021-08-18 06:37] JLyNie opened #81 "Ring chime connected but not working"

[2021-08-26 19:51] ephagen opened #82 "Ring Chime Pro is connected but is not manageable"
Ring Chime Pro is connected but is not manageable or configurable.

[2021-08-27 07:26] Saramidek opened #83 "Ringing door bell not triggering flows"
Ringing door bells has not been triggering flows since a few days. I have tried revoking authorisation and reauthenticating them a hundred times. Once it worked again for a couple of hours then it stoped again. I have installed and unistalled the app. I have changed and changed back mode of authorisation. Nothing is working.

[2021-09-04 15:27] wimpan522 opened #84 "Movements not passed to Homey"
In the past week, movements are no longer passed on to Homey. The movement is detected in the ring app, but not passed on to Homey. Do several people have this problem and can it be solved?
Thank you for the reply.

[2021-09-12 11:41] nielsenu opened #85 "Ring Door Sensor"
Hi,
It would be super fantastic, with support of ring door sensor in the Athom Homey Ring app. Any chance it will be included in the near future.
Thx, in advance.
Best,
Ulrik

[2021-09-12 17:40] remcovaal opened #86 "Ring support for CAMs and motion detection sound"
The integration between ring and Homey is very useful. Unfortunately, when the chime is triggered it let hear the sound of someone pressing the doorbell instead of motion sound. Should be use to select the motion sound for some (most of mine) cases as well

[2021-09-12 18:37] remcovaal opened #87 "Enable or Disabale the alarm arming state"
Should be supper useful to enable or disbale the alarm status of ring based on sensor status of the homey.
So, when I go to bed, tunr off all lights and arm the alarm

[2021-12-07 22:18] gy1977 opened #88 "Ring Doorbell Pro 2"
Hi it would be terrific if this new doorbell could be supported

[2021-12-26 10:24] larsgotlieb opened #89 "Login to ring"
After installing the app at homey i cannot login
I have no change entering credentials.
im meet with a message that i should enable two FA in ring which i have done

[2022-01-02 21:58] dbuekenh opened #90 "Invalid content and no events anymore"
Dear,

I am using the ring app for more tha mn a year now without any issues.
After update 7.2.0 it seems that it stopped working. Now 11 days ago no movement alarm logged.

Here is bug report 76085ffa-ba77-4911-985b-484b5e2d02da

Rgds Dirk

[2022-01-04 16:17] Turtures commented on #89
I have the same problem logging in to Ring app from Homey. the app says something about two-factor login. I has it activated at ring but it still does not work

[2022-01-31 18:32] markusv commented on #73
@marindal How did you fix this? I have the same problem

[2022-02-02 07:45] #71 closed

[2022-03-13 16:05] dajoneseng commented on #89
Same issue. App says 2FA not supported, homey app page says 2FA required. Which one is it?

[2022-03-14 11:02] Turtures commented on #89
Ring Settings

Before Homey can add Ring products we need authentication.

Two-Factor Authentication is required, you must enable this on your Ring account!

RING AUTHENTICATION CREDENTIALS
Error: You need to authenticate this app from the add device wizard

c99d488a-232d-4dd6-b5ca-632bd94730d9

Med vänlig hälsning
Tom Danielsson

[2022-03-22 21:04] sadbeaver commented on #84
I have the same issue with the new update of the app (2.3.3)

[2022-03-29 09:20] sadbeaver opened #92 "Unable to add new units & existing flows don't work anymore"
![Screenshot_20220329-111543](https://user-images.githubusercontent.com/99365750/160578597-0ef17283-e8ba-42c0-9998-66d58cc5e282.png)

All existing flows have stopped working and it's not possible to add new units....

[2022-04-12 19:28] matie commented on #81
Still the case. Want to ring it for An other door. Not working. It says it cannot find the device. Could you fix this?

[2022-06-01 06:53] Loooogical opened #93 "Adding support for Keypad v2"
Is there any hope for support for the keypad coming (to be able to use Homey to turn on/off alarm modes for instance), or is this an impossible dream?

[2022-06-14 07:28] DanielBremer opened #94 "homey bridge"
will the app also be available for the homey bridge?

[2022-06-25 06:54] Nakika opened #95 "Gebruik geluid chime"
Ik gebruik het geluid van de chime als een soort beveiligingsgeluid. Voorheen werd het geluid van de beweging gebruikt maar ik merk nu dat het geluid van aanbellen wordt gebruikt. Is het mogelijk dat hier een keuze gemaakt kan worden?

[2022-06-26 17:55] phanesaleg opened #96 "Ring connection out of order"
Hello,
since this morning impossible to connect ring with homey, here is the error message that I receive
![Capture](https://user-images.githubusercontent.com/108235014/175827463-a95fdf50-156e-44d0-9aa9-aaea120d1fff.JPG)

Error: Error: invalid_authentication 401 {"error":"access_denied","error_description":"invalid user credentials"}

[2022-06-26 20:08] phanesaleg commented on #96
hello, it is ok now

[2022-06-26 20:09] phanesaleg opened #97 "Chnage"

[2022-06-26 20:11] phanesaleg opened #98 "Change mode ring is not operational"
Hello, I inserted the mode change for ring, but it does not work
![Capture2](https://user-images.githubusercontent.com/108235014/175832133-20660514-40f3-4a47-b380-27c50dc358a0.JPG)

[2022-06-28 09:15] CKL1976 opened #99 "Snapshot latency ?"
I just setup the Ring integration and almost everything is working perfectly.

But the snapshot seems to be delayed in some way, when i trigger a snapshot from the Homey app, it does not show what is in front of the camera.

Any idea why this is ?

What i would like to achieve is when you push the doorbell an image is shown via Homey. Just like with the original Ring App.

[2022-07-01 06:31] Loooogical commented on #98
Yeah, not working for me either. This is the one functionality I desperately want for my system, so that I can activate the Ring alarm automatically with Homey when I leave and comes back to the house. Not sure if this has ever been operational, but if it has been, i truly hope it is fixed soon!

[2022-07-05 12:17] Loooogical commented on #98
Never mind, turns out this function is not working for me because I have the alarm base station setup. Guess it can only change modes when there is no alarm added to your Ring system

[2022-07-21 19:40] arjankorte opened #100 "Ring in Homey"
Als ik een flow wil maken in Homey met als doel dat als mijn alarm uitschakelt dat dan in ring mijn modus naar thuis gaat. Zodat dan mijn camera’s niet opnemen dan moet ik een locatie kiezen. Dit lukt niet. Er komt na enige tijd laden te staan dat er geen locatie gevonden kan worden. In de ring app heb ik wel een locatie staan voor mijn huis. Hoe kan ik dit oplossen?
![C4A22870-188A-4805-9473-9DDF

[2022-08-10 13:22] henkvanaswegen opened #101 "Homey bridge"
Hi.
Is there any indication of when the ring app will be available for the Homey Bridge?
Regards

[2022-08-11 21:48] fagern opened #102 "Support for more models of doorbell"
Is the app supporting other models than the Doorbell PRO?
Or will you add support for the cheaper doorbell models?

[2022-08-13 10:42] snurre66 commented on #73
Also have the same error. What was the fix?

[2022-08-13 10:45] snurre66 opened #103 "Snapshot: Invalid_content_type"
Get an error showing Invalid_content_type when trying to grab a snapshot in homey.

![image](https://user-images.githubusercontent.com/48808867/184480291-bdb68cc4-e698-4d4f-a779-f4b5bf7760a6.png)

[2022-09-08 14:05] Quaars opened #105 "app wil not open on my Homey authenticatie problem"
I can not use my ring app on my Homey, when i open de app i get this message .
you need to authenticate this app from the add device wizard .
I activate the TWO factor  in my account .
who can help me with this ?

[2022-09-17 09:49] dacootmeister commented on #103
Got the same error when inspecting snapshot

[2022-10-05 19:31] chimpinwetsuit commented on #101
I guess this is a feature request for compatibility with Homey (Cloud).
I would like this too after joining the beta program.
There seems to be some how-to information here:
https://apps.developer.homey.app/guides/homey-cloud

[2022-10-06 07:10] Toon196 commented on #103
Na laatste update geeft Homey Pro een foutmelding:

Authenticatie resultaat:
invalid_grant
Fout:
The provided authorization grant (e.g., authorization code, resource owner credentials) or refresh token is invalid, expired, revoked, does not match the redirection URI used in the authorization request, or was issued to another client.

[2022-10-06 09:03] daneedk commented on #103
@Toon196, There was an outage on the Ring API which most likely happend at the time Homey needed to refresh the authentication token.
Please go to the devices settings, click **Maintenance** and use the **Try to Repair** function to reauthenticate.

(Also, please don't use the apps review section to post about errors. Would you please be so kind to change/remove your review, thanks.)

[2022-10-06 09:04] daneedk commented on #105
You need to add a Ring Device to get Homey authenticated at Ring.

[2022-10-06 09:16] Toon196 commented on #103
It works again.
Thanks for the advise.
I removed the comment, sorry for that

Toon

Op do 6 okt. 2022 11:03 schreef Danee ***@***.***>:

[2022-10-10 09:12] PalleLC opened #109 "Flow card for activation when door bell is pressed is missing"
Previous I had a flow card when to activate a flow when the door bell is pressed
Now I only have Snapshot and mode is changed

[2022-10-12 19:20] baloe1541 opened #110 "Homey pro 2023"
Hi dennie

great app but will you update the app to sdk3 for the new homey 2023

I’ve ordered one and use your app with love !!

[2022-10-13 16:55] Sveinaeggen commented on #103
I have the same problem, I try to reauthenticate but no luck, I delete app and re install but still no change, same problem.

[2022-10-14 12:29] dooniem opened #111 "Make Chime able to speak like Homey Pro 2019"
Since speaker is lacking from 2023 version, and the Chime probably can do a better job, being able to send “say the following on your Chime unit” would be superb!

[2022-10-20 07:45] larsekal commented on #101
Please add support for Homey Bridge!

[2022-10-21 11:05] jarleifvaagen commented on #110
I'm new to Homey and I have also ordered a homey Pro 2023, and would love Ring integration. :)

[2022-10-23 07:12] Gerard1975 commented on #110
Im also nee to honey and pre-ordered Homey Pro 2023; would love to use it with the Ring doorbell!

[2022-10-31 19:56] baloe1541 opened #112 "Authenication"
![30FD74E0-05BF-4A63-986D-FB1DA6360588](https://user-images.githubusercontent.com/11018830/199098812-d9ca4725-c56c-4249-b4bb-4fb453283b60.jpeg)

Get this messages today and laat week

[2022-11-01 17:27] ghost opened #113 "Setting a mode (disarmed, home, away) does not work anymore"
When setting a mode, it simply does nothing. I've re-authenticated. But I can't see what goes wrong. I do can set the motion settings of a cam, I do receive the change of a security mode when using the Ring keypad, so it feels I don't have enough rights or something else has broken?

[2022-11-05 08:53] Henk-Darkw00d commented on #110
Hi Dennie,
That would be awesome to have the integration also working in de Pro 2023 version !

[2022-11-06 09:57] Rossi200 opened #114 "Ring Intercom"
Please add support for the Ring Intercom

[2022-11-23 12:23] Jansrt opened #115 "I need to reauthenticate often"
The app has worked well for a long time. Recently I need to reauthenticate often and reauthenticating does not work. Dit is de foutmelding die ik krijg: 'Error: Error: socket hang up'.

[2022-11-23 19:50] #115 closed, assigned to nobody

[2022-11-23 19:52] Jansrt commented on #115
After today's update to Homey 8.1.0., the problem seem to be solved.

[2022-11-23 21:06] Jansrt opened #116 "Ring does work but often invalid content type"
Ring does work but often invalid_content_type error while making snapshot. The issue continues after Homey's update to 8.1.0. Can this be fixed?

[2022-11-24 07:26] Jansrt commented on #116
Well, the problem of having to reauthenticate is not gone. Can this be fixed?

[2022-11-24 08:08] mruiter commented on #116
The strange thing is that i only had to reauthenticate once (that was in
the testing fase and was a bug that was fixed)
Since then all works perfect. Sometimes it makes a timeline notice ,
when the internet was gone for a few minutes but then when its back and
i check in settings it still is authenticated

I'm running the app on 4 homeys , no need for re-authentications and i
have ring doorbells a

[2022-11-24 08:27] Jansrt commented on #116
I have the same situation. The timeline message shows up, but I am still authenticated.

I have gigabit ethernet lan and wan connections. WiFi is over 300 Mb where Homy is located. I have no issues with other IT in the house. So, I guess that is not the problem.

Could it be related to the invalid content issue?

Rob T.A. Janssen

Tel.: +31 79 360 02 11
Mobile.: +31 6 54 70 88 65

Van: Marco Ruite

[2022-11-24 09:29] mruiter commented on #116
If you only get the timeline messages and setting still said authenticated and you have no troubles I guess it’s an issue of slow connection to the ring cloud / slow response from.I noticed the ring app also is slower in showing everything than it was used to .Guess there also saving money on power usage by lowering there cloud platform power 🤣Verstuurd vanaf mijn iPhoneOp 24 nov. 2022 om 09:27 he

[2022-11-24 10:06] Jansrt commented on #116
Thanks.

The Homey backup app is slow in responding too since a couple of months.

I have changed the power supply of my Homey to see whether that makes a difference. That was an issue a couple of years ago.

Do have a solution to the other issue that I mentioned, the invalid content issue? Do you need more info on this?

Rob T.A. Janssen

Tel.: +31 79 360 02 11
Mobile.: +31 6 54 70 88 65

Van: Ma

[2022-11-27 07:13] thomaswitt commented on #110
+1 – @denniedegroot, any plans or a timeline? How can we support you?

[2022-11-28 09:37] Corvo commented on #110
I haven't ordered a Homey 2023 ... but intend to do so at some point next year.
Not having a working Ring.com app, would certainly persuade me not to upgrade yet 😅

So, yes **+1** for me too.
Is there anything we can do to help? I for one wouldn't mind having to beta-test some changes.